[2022-03-24 08:32] #841 closed

[2022-03-24 08:35] #914 closed

[2022-03-24 10:01] ericallam opened #2476 "Architect multipart forms with file uploads result in corrupted files"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

 - Create a new remix project with `npx create-remix`
 - Select "Just the basics"
 - Select "Architect (AWS Lambda)"
 - Select "Typescript"
 - Finish creating the project
 - Replace the contents of `app/routes/index.tsx` with the following code:

[code]

- Run the server locally with `npm run dev`
- Open `http://localhost:333

[2022-03-24 10:50] andrecasal opened #2477 "useLoaderData() hook doesn't run when route is prefetched"
### What version of Remix are you using?

1.3.2

### Steps to Reproduce

1. Create a default index.ts route and a posts route (as per the [official tutorial](https://remix.run/docs/en/v1/tutorials/blog#loading-data))

2. Load the website from the root. The /posts route will be prefetched. Navigate to the /posts route with a <Link> or a <NavLink>
[code]

3. Notice the posts route doesn't have posts

[2022-03-24 11:13] andrecasal commented on #2477
I was using an `index.ts` file to export my routes:
[code]

And defining the actual route on its respective `Posts.tsx` file.

I then realized the way nested routes work in Remix is by having the main route in `/app/routes/posts/index.tsx` and any nested routes in `/app/routes/posts/nestedRoute.tsx`. So me having an `/app/routes/posts/index.tsx` that just exports what's in `/app/routes/posts/Posts

[2022-03-24 11:45] 3x071c opened #2478 "TypeScript types for @remix-run/cloudflare are missing; breaking all CF adapters since v1.3.3"
### What version of Remix are you using?

1.3.3 (latest)

### Steps to Reproduce

1. Create a new remix `cloudflare-pages` TypeScript app using `npx create-remix@latest`
2. Import `{createCloudflareKVSessionStorage} from ‘remix’` somewhere
3. Watch TypeScript claim the import does not exist
4. The transpiled JavaScript app works as expected

### Expected Behavior

Correct typings

### Actual Behav

[2022-03-24 12:01] 3x071c commented on #2478
The exports from `@remix-run/cloudflare-pages` are missing in `remix`’s `index.d.ts`:
![DC3FD78A-0144-45B9-BCFA-49A13A991D61](https://user-images.githubusercontent.com/87198856/159911455-58265854-e349-4343-8145-9696831414bf.jpeg)
Running `remix setup cloudflare`(-pages) manually doesn’t help.

[2022-03-24 12:31] machour commented on #2477
@andrecasal I would advise reading the [routing section](https://remix.run/docs/en/v1/guides/routing) of the documentation to have a better grasp at how Remix routing work.

Having a `Posts.tsx` inside the routes folder doesn't really make sense (at least to me), as you're supposed to have only "urls" in `routes/`

But importing from a file, and exporting in your route should definitely work if yo

[2022-03-24 12:31] #2477 closed

[2022-03-24 13:15] 3x071c commented on #2478
@machour This issue applies to Cloudflare in general (the Cloudflare Workers adapter is affected too).

[2022-03-24 13:16] andrecasal commented on #2477
Hum interesting, I'm definitely going to try that out, thank you @machour  👍

[2022-03-24 13:20] 3x071c commented on #2478
#2359 (Commit [8cd7f65664d630b67975f9e574eab8521e5fd34f](https://github.com/remix-run/remix/blob/8cd7f65664d630b67975f9e574eab8521e5fd34f/packages/remix-dev/cli/setup.ts)) deprecated and unified the previously separate `cloudflare-pages` and `cloudflare-workers` options into a single `cloudflare` platform. This means that both deployment targets now use the same `magicExports` from `@remix-run/clo

[2022-03-24 13:29] 3x071c commented on #2478
The rollup configuration, which looks like it's responsible for the production build, diverges quite a bit for `@remix-run/cloudflare` in contrast to `@remix-run/cloudflare-workers`/`@remix-run/cloudflare-pages` ([reference](https://github.com/remix-run/remix/blob/735fc04ef9fb2cf6f070cbdd742c37540e082ac4/rollup.config.js#L385-L487)). @pcattori You have an idea of the culprit?

[2022-03-24 13:41] 3x071c commented on #2478
Comparing `remixCloudflareWorkers` ([4986844728e2ad98ebb6a679210b79a04e6e5648](https://github.com/remix-run/remix/blob/4986844728e2ad98ebb6a679210b79a04e6e5648/rollup.config.js#L386)) and the new `remixCloudflare` ([8cd7f65664d630b67975f9e574eab8521e5fd34f](https://github.com/remix-run/remix/blob/735fc04ef9fb2cf6f070cbdd742c37540e082ac4/rollup.config.js#L386)):

1. `index.ts` -> `esm` to `cjs` exp

[2022-03-24 14:00] FritzTheDev commented on #2478
Think I'm running into the same behavior on the "blues stack" - which targets fly. Every other module plays nicely with TS but the remix module only has one exported member (according to .d.ts): "RemixNotSetupError".

<img width="423" alt="Screen Shot 2022-03-24 at 8 59 30 AM" src="https://user-images.githubusercontent.com/19580939/159932652-af773dd5-7bc2-4fb9-8d2d-b57ff0a9536e.png">

[2022-03-24 14:05] FritzTheDev commented on #2478
Bumped remix package version down a patch to ^1.3.2 and  rm -rf'd n_m's then reinstalled.

Didn't think to do it one step at a time to figure out whether it was the reinstall or the rollback that fixed it but it's working now so I'm not gonna mess with it lol.

[2022-03-24 14:45] 3x071c commented on #2478
@FritzTheDev Most likely the reinstall. Looks like you/your package manager didn't run the postinstall hook (`remix setup node`), which generates the types into `node_modules/remix/index.d.ts`. The `RemixNotSetupError` (default file content) refers to that.

[2022-03-24 15:31] styxlab commented on #1337
A friend of mine came up with a clever solution that works for me: You can simply extract the host information in your loader and server different data based on it:
[code]

No need for middleware, rewrites or complicated route structures :-)

[2022-03-24 15:35] styxlab commented on #1587
There is no need for a middleware concept for multi-tenancy apps (see my comment on #1337).

[2022-03-24 16:15] a-type commented on #1587
That will only work if route paths match exactly between subdomain situations and non-subdomain - i.e. `tenant.my.app/page` is the same page as `my.app/page`.

But if `tenant.my.app/page` is equivalent to `my.app/~tenants/[tenantName]/page` or some other structure, the solution is not as simple as just knowing the hostname - you also have to render an entirely different experience for route struct

[2022-03-24 16:30] styxlab commented on #1587
@a-type Yes, I agree - in my use case, the routing structure does not change based on different tenants. The ability to perform rewrites in middleware would open more complex use cases and I would also like to see it. If you are on Cloudflare, you could dedicate a worker just for doing the rewrites. So there are workarounds, although I would prefer a native remix solution.

[2022-03-24 16:43] kentcdodds commented on #372
Closing this issue in favor of this discussion/proposal: https://github.com/remix-run/remix/discussions/2481

[2022-03-24 16:43] #372 closed

[2022-03-24 16:55] pcattori commented on #2478
Looks like I forgot to add the new `cloudflare` package to the list of packages that we emit type declarations for 😬 .

Should be fixed by #2483 . I tested `yarn build` locally before and after the fix to confirm that it now does generate TS types for `@remix-run/cloudflare`.

If issue persists in the next release, feel free to reopen.

[2022-03-24 16:55] #2478 closed

[2022-03-24 18:33] tiagoad commented on #2464
It generates inline sourcemaps: https://github.com/remix-run/remix/blob/main/packages/remix-dev/compiler.ts#L452
If you look at the last line in your generated worker javascript file you'll see it starts with `//# sourceMappingURL=data:application/json;`

[2022-03-24 18:42] kiliman commented on #2464
My PR #2065 fixes this to use "linked" sourcemaps. It also rewrites route module references so breakpoint debugging works without any hacks.

[2022-03-24 19:03] #896 closed

[2022-03-24 19:17] kiliman commented on #1587
One of the reasons why Remix doesn't support rewriting URLs is that the URL that it's processing must match the URL that is in the address bar. This is because React Router (which Remix is built on) does client-side routing so the server URL must match the client URL.

They would have to include URL rewriting in React Router itself.

[2022-03-24 19:42] kentcdodds opened #2485 "LiveReload rendering nothing on server but a component on client"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

We discovered this in the indie stack, I fixed it by adding `cross-env NODE_ENV=development` to the `remix dev` command, but you can quickly reproduce this by initializing the indie stack with the commit before my fix:

[code]

Open the app and you'll see the error:

<img width="623" alt="image" src="https://user-images.githu

[2022-03-24 21:33] ErikCH commented on #806
Hello @pckilgore and @misantronic !

I'm with the Amplify team, and with our latest releases, I've been able to get Remix working with the Amplify library. We are still testing it, so if you find any issues let me know.

Here is our documentation.

https://ui.docs.amplify.aws/getting-started/installation

[2022-03-24 21:43] mikestopcontinues commented on #1601
I don't mean to +1, but I'm also getting the issue on mac, with a fresh vercel/ts boilerplate.

[2022-03-24 23:19] eccentric-j opened #2488 "[BUG]: .DS_Store files in app/routes dir breaks app"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

1. Create a new remix repo
2. Create a new folder in routes like `routes/about`
3. Copy a .DS_Store file (on Mac OS X) or any non-standard encoded file into `routes/about`
4. Run `npx remix routes --json`

### Expected Behavior

Remix routes command should ignore the .DS_Store file

### Actual Behavior

Remix throws an error:

[2022-03-25 04:17] Devr-pro commented on #1601
Same issue with me
Am on Windows10 and all setup of remix was good but I then realized that My localhost isnt hotreloading on changes..,
I have used this exp   `     {process.env.NODE_ENV === 'development' ? <LiveReload/> : null}`  ..,But still my issue is persisting.

[2022-03-25 05:25] IanWitham opened #2491 "create-remix templates don't work if a local folder of the same name as the template exists"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

### Expected Behavior

A new Remix app is created.

### Actual Behavior

An empty package.json and package-lock.json are produced along with a "remix" folder containing the entirety of the remix-run/remix repo.

[2022-03-25 07:39] machour commented on #2488
I don't think the suggested fix is valid, a route can begin with a `.`, like `.well-known`.

[2022-03-25 11:19] nihgwu commented on #2321
I proposed the solution in the licked issue, but it only works for Vite, how can I alias module resolution in Remix?

[2022-03-25 12:41] kettanaito commented on #372
Agree. MSW will mock requests in the process where it's initialized. That's why you don't use `setupWorker` in Cypress configuration but in the test/browser directly because you don't want to intercept requests in the Cypress process, you want that in the browser process.

[2022-03-25 13:01] luchsamapparat commented on #227
@chaance does closing this issue mean that you decided against implementing this?

[2022-03-25 13:35] brophdawg11 commented on #2491
👋 What platform did you see this on?  I'm unable to reproduce on OSX locally:

<img width="858" alt="Screen Shot 2022-03-25 at 9 25 28 AM" src="https://user-images.githubusercontent.com/1609022/160130412-4fe23529-af78-411d-a0e5-d0df2dce6cb2.png">

[2022-03-25 14:02] hicksy commented on #2476
I'm experiencing the same issue.

I believe the problem is in `@remix-run/architect/server.js` as I don't think `event.body` is being parsed correctly for `multipart/form-data`, so the resulting buffer isn't the correct length

To test i uploaded a **109kb** file, the results are:

### `unstable_createFileUploadHandler`:
The saved file is corrupted and 196kb in size

###  `unstable_createMemoryUpl

[2022-03-25 14:11] hicksy commented on #2476
Here's the full server.js file I've used for testing this

[code]

[2022-03-25 14:18] MichaelDeBoey commented on #2321
This seems to be a bug in `react-live` in combination with `esbuild`, so I'm going to close this one for now.

[2022-03-25 14:18] #2321 closed

[2022-03-25 15:52] styxlab commented on #1587
Maybe I don't understand the depth of the issue, but wouldn't it be possible to have a middleware/proxy before entering React router?
[code]

[2022-03-25 16:03] eccentric-j commented on #2488
Then the default `".*"` would not work with `routes/.well-known` and based on https://remix.run/docs/en/v1/api/conventions#escaping-special-characters, that route-file should be defined like `[.]well-known.{mdx,js,tsx}`

[2022-03-25 17:16] cloudy9101 commented on #2491
Got the same issue.
`npx create-remix@latest` will download the mono repo remix-run/remix to the newly created project dir.

I tried to install create-remix globally and run it manually, that's works for me. It will **only download the remix-ts template** to the newly created project dir.
[code]

[2022-03-25 17:31] cloudy9101 commented on #2491
Got the same issue.
This will download the mono repo remix-run/remix to remix-jokes
[code]

But if the path has `../` in the beginning, it will **only download the template** to remix-jokes ( of course it's located in the parent dir )
[code]

[2022-03-25 17:34] hicksy commented on #2476
I've been digging into this more, I _think_ the use of `toString()` on the buffer in two locations is causing the binary data to be skewered.

I've modified `server/node_modules/@remix-run/architect/server.js` & `server/node_modules/@remix-run/node/parseMultipartFormData.js` and I now have an uncorrupted file 😄

Putting together a PR so they can review and decide if they're happy this is a fix / d

[2022-03-25 18:03] kiliman commented on #1601
They had started removing `cross-env NODE_ENV=development` from the *package.json* scripts. Due to the order in which things were occurring, the internal `<LiveReload/>` component wasn't getting the property environment.

Re-add the cross-env and it should work.

[2022-03-25 18:21] a-type commented on #1587
The client-side routing definitely complicates things! Seems like the middleware may have to live in RR itself. However, that also means that even solutions like rewriting the incoming HTTP request in your lambda layer won't work, right? It would seem

Remix doesn't have any solution for the kind of use case you see in NextJS' [Multi-Tenant demo](https://vercel.com/guides/nextjs-multi-tenant-appli

[2022-03-25 19:19] DavOnGit commented on #2491
Got the same issue.
I'm on windows 10.

[2022-03-25 19:27] styxlab commented on #2491
Workaround: `px create-remix@latest  --template remix-ts`

[2022-03-25 19:52] styxlab opened #2498 "Action in root.tsx not executed when pathless index route present"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

# Install
git clone https://github.com/styxlab/remix-issue-root-action
cd remix-issue-root-action
yarn
yarn dev

# Reproduce
Enter a text into the text field and press enter => Error: 405 Method Not Allowed
[code]

### Expected Behavior

No error. The action in `root.tsx` should be executed.

### Actual Behavior

Error: 405 M

[2022-03-25 19:58] styxlab commented on #2498
Note:
 1. the action in `root.tsx` is triggered, when you remove the pathless layout route structure
 2. the console error message is misleading because actions in pathless routes are not allowed.

[2022-03-25 20:43] kiliman commented on #2498
Yeah, when Remix posts to a route, it looks for an action on that route. If you're on an index route, it will look at the parent layout for an action unless you include `?index` in the form action. Looks like Remix isn't skipping pathless layouts as it looks for the "parent" layout route and just stops at the first parent.

[2022-03-25 20:47] IanWitham commented on #2491
I'm seeing the bug on macOS Catalina 10.15.7. the `../my-remix-app` workaround works.

I tried running `npm uninstall -g create-remix && npm cache clean --force` first and the problem persisted.

On Windows 10 I _don't_ see the bug.

[2022-03-25 21:49] nihgwu commented on #2321
@MichaelDeBoey can you open the ticket, [here](https://github.com/evanw/esbuild/issues/2128) is the answer from the author of `esbuild`, it would be nice we can config esbuild via remix.config
related to https://github.com/remix-run/remix/issues/1405, it would be nice if we can provide a way to alias module resolution

[2022-03-25 22:11] garth opened #2503 "createCookieSessionStorage is no longer exported server-runtime in v1.3.3"
### What version of Remix are you using?

v1.3.3

### Steps to Reproduce

Upgrade from v1.3.2 where server-runtime exported createCookieSessionStorage and now it is no longer there.

### Expected Behavior

It should still be exported.

### Actual Behavior

x

[2022-03-25 22:46] OliverM commented on #2488
This has bitten me for other files that appear in the `routes` directory too such as emac's undo-tree functionality that litters directories with a file suffixed with `.~undo-tree~` for every edited file.

[2022-03-26 00:53] bndkt commented on #2503
Same for createCloudflareKVSessionStorage, since upgrading from 1.3.2 to 1.3.3 it throws with:

`No matching export in "node_modules/@remix-run/cloudflare-pages/esm/index.js" for import "createCloudflareKVSessionStorage"`

[2022-03-26 03:37] cloudy9101 commented on #2491
I think the root cause it's that **there's a folder called `remix`** when we run create-remix@latest.
The template name of `Just the basics` is `remix`, the detectTemplateType function will return `local` since `fse.existsSync(template)` will return true if there's a folder called `remix`.

![image](https://user-images.githubusercontent.com/5436425/160223158-8112561f-ed3c-4650-8e67-4ac716bfe260.pn

[2022-03-26 03:46] IanWitham commented on #2491
That's it! Sir, you're a genius.

[2022-03-26 04:01] iamyuu opened #2504 "[@remix-run/cloudflare-pages] `ERESOLVE overriding peer dependency` when creating a new Remix app"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

just creating new apps and using Cloudflare pages for deployment target

[code]

### Expected Behavior

it should not show warn overriding peer dependency

### Actual Behavior

<details>
<summary><code>npx create-remix@latest</code></summary>
<pre>
? Where would you like to create your app? ./my-remix-app
? What type of app d

[2022-03-26 07:39] styxlab commented on #2498
Thanks for explaining what's going wrong here. From a DX point of view I would expect that the action is always triggered in the same location where I define the <Form> unless it is changed in the form action attribute.

[2022-03-26 08:25] salper commented on #2373
FTR: it's coming from [here](https://github.com/bokub/chalk-animation/issues/20).

[2022-03-26 09:08] styxlab commented on #2491
@cloudy9101 Thanks for spotting the route cause. However, the workaround I proposed allows you to keep your existing remix folder, that's why I find it more practical.

[2022-03-26 10:52] cloudy9101 commented on #2491
@styxlab Yes, your workaround is great.
Maybe I shouldn't say that rename the remix folder is the real workaround, it's just another way to make it work.

[2022-03-26 13:40] styxlab commented on #2498
Quote from the docs:

Thus I hope this issue will be fixed.

[2022-03-26 14:30] iamyuu commented on #2504
when changing dependencies (e.g. exact the version) and then running `npm install`, it's throwing an error:

[code]

[2022-03-26 14:47] mikestopcontinues commented on #1601
@kiliman It doesn't work with or without manually setting the `NODE_ENV` via CLI, `.env`, or in the config files. `NODE_ENV` is 'development' without any of them anyway.

[2022-03-26 18:38] JulianBuse commented on #2503
I have this issue as well

[2022-03-26 19:03] connor4312 commented on #367
By the way, you can also make breakpoints work by doing something like this in your launch.json:

[code]

[2022-03-26 20:04] dstrekelj opened #2509 "Basic example Remix 1.3.3 project fails to render with "Error: Invalid hook call" error message"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

**Environment:**
- macOS Monterey 12.1
- Node 16.4.2
- NPM 8.5.0
- Chrome 99

**Steps to reproduce:**
Start a new Remix project using `npx create-remix@latest ./apps/website` (this was done as part of a Turborepo monorepo setup where the `apps/` directory contains a Strapi admin app, hence the path).

Select the following opt

[2022-03-26 20:22] pckilgore commented on #806
@ErikCH Ended up writing the server-side stuff with the SDK.  Good to know for the future.

[2022-03-26 21:15] Arcath opened #2511 "Fetcher not returning the data from `loader`"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

I'm using a fetcher to build an infinate scroller and after upgrading from 1.3.2 to 1.3.3 it's started returning the wrong data.

My loader:

[code]

My Component:

[code]

I can reproduce this by making a request to `http://localhost:3000/articles?_data=root` which is returning the incorect data.

### Expected Behavior

I'd

[2022-03-26 22:30] jondcallahan commented on #1555
I found that the source of this error for me was importing a large (20mb) json file as

`import Messages from '../messages.json'` - the way I fixed it was making a new `messages.server.ts` file and doing a node file read instead.

[code]

I guess this is happening because using an `import` is continually adding the json to memory and the garbage collector either isn't keeping up or isn't freeing u

[2022-03-27 11:48] luanau commented on #599
Still happening in 1.3.3 as of March 2022.

[2022-03-27 15:53] BiffBish commented on #1601
Any known fixes? Running remix on WSL Ubuntu 20.04

[2022-03-27 16:00] #331 closed

[2022-03-27 16:16] pcattori commented on #2503
We expect users to import from one of our concrete server runtime packages (i.e. `@remix-run/node` or `@remix-run/cloudflare`) rather than import directly from `@remix-run/server-runtime`.

We don't currently consider `@remix-run/server-runtime` to be an intended public API for users, so we refactored it. Specifically we replaced the functions that depend on internal crypto `sign`/`unsign` globals

[2022-03-27 16:16] #2503 closed

[2022-03-27 17:04] garth commented on #2503
@pcattori for everyone who cannot use the `remix` package directly (due to it modifying node_modules), the advice we got was to import from the packages behind that have the actually implementation. In this case it was `@remix-run/server-runtime`.

if I update the import from `@remix-run/server-runtime` to `@remix-run/node` I get the following error:

[code]

[2022-03-27 17:27] pcattori commented on #2503
@garth Previously we recommended importing from `remix` via "magic" imports that relied on modifying `node_modules/`, but we're moving away from that in favor of importing directly from server runtime packages (see #2359). We're actively working on updating our docs, examples, etc... to use this new recommended approach.

Could you provide more info about the error you're seeing e.g. what your usa

[2022-03-27 17:34] pcattori commented on #2503
I created a new Remix app using Remix App Server and then added this to `app/root.tsx`:

[code]

Using v1.3.3 and this works locally for me. I'm able to hit localhost:3000 with my browser and see the session storage functions getting logged.

[2022-03-27 17:42] supachaidev commented on #2503
With this refactoring, how can I make the createCookieSessionStorage function in Cloudflare Pages environment like the previous Remix version?

`import { createCookieSessionStorage } from "remix";` This is used to work in Pages Function environment (which is Workers env).

Trying `import { createCookieSessionStorage } from "@remix-run/node";` but it did not work.

[2022-03-27 17:43] garth commented on #2503
I had many imports from `@remix-run/server-runtime`, so went through the project and replaced them all with `@remix-run/node` and remove the server-runtime from my package.json and that seems to have fixed it.

Glad to hear that you will update the docs. Clearer instructions will help clarify a lot of details that we are currently getting from snippets from twitter or elsewhere.

[2022-03-27 18:37] MichaelDeBoey commented on #15
@NickFoden It would be awesome to have a PR that adds an example to our repo.

[2022-03-27 21:07] #653 closed

[2022-03-27 21:25] hgeldenhuys commented on #109
+1 I have the same issue with React-Flow. I've tried multiple workaround but unsuccessful so far..

https://github.com/wbkd/react-flow/issues/1953

[2022-03-27 21:34] hgeldenhuys commented on #2429
Tried those workarounds without success. The solutions are horrible, first IDE doesn't like the esm.modules as js file on the route of the repo, then it's unclear how one treats named imports as opposed to just default imports, but after massaging the code with lots of @ts-ignores I get ERR_REQUIRE_ESM lower down in the package I'm trying to import, and adding those deeper packages to remix.config

[2022-03-28 00:21] #643 closed

[2022-03-28 00:21] #1756 closed

[2022-03-28 01:35] #965 closed

[2022-03-28 01:35] #1518 closed

[2022-03-28 02:31] HuyAms commented on #1461
I also got an error with the live reload. Do you know what possibly causes the error
[code]
![error](https://user-images.githubusercontent.com/26871154/160316438-5fd7f5fb-22f7-443b-9f9e-bbf0fff92939.png)

[2022-03-28 03:45] supachaidev commented on #2503
@pcattori
Since Cloudflare Pages environment uses **Web Crypto** ([Web Crypto APIs](https://developer.mozilla.org/en-US/docs/Web/API/Crypto/subtle)) instead of **Node crypto**, how can we use Remix **createCookieSessionStorage** function in Cloudflare Pages environment?

The **cookie-signature** lib on which **@remix-run/node** depends uses Node crypto which Pages environment does not support.

An

[2022-03-28 05:22] pcattori commented on #2503
@supachaidev yes you should use `@remix-run/cloudflare` as your server runtime package. Sounds like you might be seeing the same thing as #2504

[2022-03-28 09:26] MichaelDeBoey commented on #2409
This seems to be related to #2248

[2022-03-28 10:18] DKeen0123 opened #2522 "POST req with unexpected content type to route kills the Remix server"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

Create a remix app, and create a route with just an action.
Within that action, if you await request.FormData, but then make a post request of a type other than Multipart Form, the remix app server will throw an error and exit.

an example repo to test this can be found here:

https://github.com/DKeen0123/remix-resource-route

[2022-03-28 12:23] ssijak opened #2523 "Non ascii characters in routes do not work or break remix"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

Version one :
-Create any route with a non-ascii character in the name, for example `plaćanje.tsx`.
-Visit the route in the browser

Version two:
-Url encode the same route that you want
-Create the file with the encoded name, for example `pla%C4%87anje.tsx`.
-Visit the route in the browser

### Expected Behavior

Route works

[2022-03-28 13:08] ericallam commented on #2476
Thanks @hicksy, these patches have fixed the issue for me as well. I used [patch-package](https://www.npmjs.com/package/patch-package) with the following patches using your code from above:

[@remix-run-issue-2476-patches.zip](https://github.com/remix-run/remix/files/8362945/%40remix-run-issue-2476-patches.zip)

[2022-03-28 14:17] kiliman commented on #2511
I created a codesandbox that appears to be working. It's using Remix v1.3.3

https://codesandbox.io/s/remix-fetcher-more-s2jf35?file=/app/routes/articles.tsx

[2022-03-28 15:14] kiliman commented on #1461
@HuyAms Are you able to connect to that address from your browser? If so you should get "Upgrade Required"

<img width="336" alt="image" src="https://user-images.githubusercontent.com/47168/160430229-8c716707-9f51-40e5-9aae-7ed43a1cdb5a.png">

[2022-03-28 16:14] Arcath commented on #2511
Thanks, looking at that example it seems like my code isn;t making requests to the right place.

When you hit the fetch link in your codesandbox remix logs:

[code]

where as my site logs:

[code]

If I tweak the request to end `_data=routes%2Farticles%2Findex` the JSON response is correct.

I can confirm now that it is running the loader for `app/root.tsx` and not `app/routes/articles/index.tsx`

[2022-03-28 16:51] kiliman commented on #2511
If you need to get the index route, then append `?index` to your route. Otherwise Remix will fetch from the parent loader (which in your case is *root*).

[2022-03-28 17:08] NickFoden commented on #15
Sure thing. Will add this week. Have few urgent items first.

[2022-03-28 19:02] julienmonnard commented on #2248
Hello!
I was trying to achieve the same as in the doc here https://remix.run/docs/en/v1/api/remix#unstable_createfileuploadhandler and this `Buffer is not defined` error happened to me as well...

But I noticed that if instead of this:
[code]
you do this:
[code]

Then the error doesn't appear anymore and the file is available with `formData.get('avatar')`

I just started using Remix, so not sure i

[2022-03-28 20:22] pmlk commented on #391
Works great! Thanks so much, @mennopruijssers!

[2022-03-29 01:32] JonathanSMachado commented on #2511
I also had the same problem. My application has infinite scroll and was working normally. After the update, it stopped working. I solved it by following @kiliman's tip, adding the ?index in fetcher.load.

[2022-03-29 01:39] numaga94 commented on #2498
please fix this +1

[2022-03-29 06:02] HurricanKai opened #2535 "Sometimes page returns 404 or bad JS is generated after rebuild"
### What version of Remix are you using?

1.3.3.

### Steps to Reproduce

I'm not sure - this only happens on my very slow laptop and I can't reliably reproduce it

### Expected Behavior

Rebuild works normally and the page is shown on reload

### Actual Behavior

![image](https://user-images.githubusercontent.com/22711887/160543600-96479748-339c-407e-a511-7bc3c60aa491.png)

I know this isn't a gr

[2022-03-29 07:18] machour commented on #2523
Already reproduced in #2494
Closing this issue in favor of that.

[2022-03-29 07:18] #2523 closed

[2022-03-29 08:35] lili21 commented on #2535
Maybe you can provide a reproduce repo?

[2022-03-29 08:47] HuyAms commented on #1461
@kiliman No, I can't access to that addres
<img width="1051" alt="Screenshot 2022-03-29 at 15 45 35" src="https://user-images.githubusercontent.com/26871154/160572110-ed22bc12-d013-4fb4-8010-946bef05ec15.png">
s

[2022-03-29 15:10] clintonwoo commented on #2248
I actually got this error on 1.3.3 also when only using the regular formData parser like `await request.formData();` in an action but downgrading to 1.3.2 fixed it.

Pretty big bug since crashes all the client side js.

[2022-03-29 16:39] karaeren commented on #2428
I'm running into the same problem. I don't have an environment variable for GITHUB_TOKEN, however, I use git store helper to save my valid token and somehow still get the error. I can use git just fine from the terminal...

[2022-03-29 17:37] johnsonsamuel commented on #2400
It would have been good if there was message to upgrade node to 14+ instead of `Unexpected token '?'`. 🙂

[2022-03-29 18:08] hicksy commented on #2476
Perfect, thanks @ericallam

[2022-03-29 19:09] mcansh commented on #2400
we do, the problem is that the message wasn't visible due to the cli having the unexpected token 🙃

[2022-03-29 20:55] MichaelDeBoey commented on #2491
I believe this was already fixed by @chaance or @mcansh, but can't find the PR/commit.

Can't reproduce it either.

[2022-03-29 21:01] mcansh commented on #2491
@chaance is doing some work in that regard in #2500

the issue here is due to having the remix repo checked out as a sibling directory when using `npx create-remix`

[2022-03-29 21:15] kiliman commented on #2491
BTW: It doesn't have to be the `remix` **repo**. Just a local folder named `remix`.

I was wondering why every time I tried the RAS template, it was copying all the projects in my `remix` folder.

[2022-03-30 00:10] coreybruyere commented on #529
Having this issue. Tried all the above with no luck.

[2022-03-30 04:21] sfdc-ben opened #2551 "createCookieSessionStorage server-side not including cookie in redirect header"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

Similar implementation to the Jokes App:

[code]

Fire request from mobile browser and the Set-Cookie header isn't applied and sent.

### Expected Behavior

Works fine on desktop browsers - redirects to the authenticated pages that use the following loader:

[code]

### Actual Behavior

Server logs produce ... app[web.1]: GET

[2022-03-30 05:07] alexkuz commented on #1032
I have a somewhat working solution for hydration issue, although I'm not ready to make it public yet. It monkey-patches Remix's esbuild to add a custom plugin which then uses `tree-sitter` (a fast code parser that supports TS) to parse the source and add component config, same way as `styled-components/macro` does.
For now it only supports `styled.tag` and `styled(...)` (which are the most common

[2022-03-30 07:57] Guria commented on #550
Any chance we can have it fixed? I don't believe impact of the issue is too low.

[2022-03-30 09:02] mflodin opened #2553 "Running npm audit fix when using remix 1.3.3 causes broken build"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

Not sure that this is actually a Remix issue - it might be considered a bug with `npm audit` instead, but I thought other Remix users might get affected too, so I'll add it here more for informational purpose.

1. Install Remix 1.3.3: `npx create-remix@1.3.3`
2. Get prompted by `npm audit` that there are 4 high vulnerabilitie

[2022-03-30 13:25] kiliman commented on #550
This issue was based on a very old version. Are you having the issue on the latest 1.3.3?

If so, can you provide more details.

[2022-03-30 13:37] oliverjam commented on #91
Yeah I just hit this problem too. The mismatch between the no-js and js experience is especially concerning, since it makes this impossible to work around. Some of our users will get the wrong result whichever way we go.

[2022-03-30 15:27] kiliman commented on #550
Odd. I did a clean install and build ran just fine. Did you confirm that you have the proper packages installed in node_modules? Check `node_modules/@remix-run`
<img width="1006" alt="image" src="https://user-images.githubusercontent.com/47168/160872306-26ff0139-2c91-4547-bdb7-3dc507f7abd4.png">

[2022-03-30 16:48] goran-paunovic commented on #550
Same error here.
Windows 10, Node 16, Remix 1.3.3.
I have chosen express server when creating new app.

![image](https://user-images.githubusercontent.com/8568410/160888671-4da16687-1148-4d03-8ffe-9aab52944982.png)

[2022-03-30 16:49] sfdc-ben commented on #2551
Repo to reproduce - deployed on heroku (created from Remix App Server)

[2022-03-30 17:02] kiliman commented on #550
Can you show the directory listing for `node_modules/@remix-run`?

[2022-03-30 18:08] mcansh commented on #142
sorry for the delay on replying to this! this was fixed in #314 and released in [0.20.0](https://github.com/remix-run/remix/releases/tag/v0.20.0)

[2022-03-30 18:08] #142 closed

[2022-03-30 18:11] mcansh commented on #137
does this still happen @sergiodxa?

[2022-03-30 18:12] #232 closed

[2022-03-30 18:17] #215 closed, assigned to nobody

[2022-03-30 18:19] #193 closed

[2022-03-30 18:20] mcansh commented on #193
added a ticket in linear

[2022-03-30 18:30] mcansh commented on #159
sorry for the delay! this was fixed in #241, and released in 0.18.0 :)

[2022-03-30 18:30] #159 closed

[2022-03-30 18:33] mcansh commented on #91
@oliverjam can you open a PR with a failing test case? 🙏 https://github.com/remix-run/remix/blob/dev/integration/bug-report-test.ts

[2022-03-30 18:40] mcansh commented on #639
we implemented a check for finding an unused port in remix dev in [1.2.0](https://github.com/remix-run/remix/releases/tag/v1.2.0)

I'm going to close this now, but feel free to re-open if you're still running into issues

[2022-03-30 18:40] #639 closed

[2022-03-30 21:44] nickbreaton commented on #198
I was able to avoid workaround this by adding a `preferences.arc` file with the following contents:

[code]

I think Remix needs to find a way to propagate the current `NODE_ENV` value into Architects sandbox server. [Only so many environment variables are carried across to the emulated Lambda.](https://github.com/architect/sandbox/blob/6c79a0f8ca06ac44d910e64c8307b68ffbe6505c/src/invoke-lambda/en

[2022-03-30 22:25] BiffBish commented on #1601
This doesn't seem to work? i start up the server and when i make a change to a document and do `ctrl+s` nothing happens int he console and the page doesn't recompile and build
![image](https://user-images.githubusercontent.com/42410516/160941208-e5cabe51-0b99-40d3-91da-d73900defe80.png)

[2022-03-31 02:06] nopitown commented on #550
Getting the same error following the instruction in the documentation. The package `@remix-run/server-runtime` is not present

[2022-03-31 08:06] goran-paunovic commented on #550
Same here.
When I installed `@remix-run/server-runtime` the error is gone.

[2022-03-31 09:38] nath1as opened #2564 "Warning: ReactDOM.hydrate is no longer supported in React 18"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

basic app
yarn run dev

### Expected Behavior

Remix uses hydrateRoot and behaves as if it's running React 18.

### Actual Behavior

Warning: ReactDOM.hydrate is no longer supported in React 18. Use hydrateRoot instead. Until you switch to the new API, your app will behave as if it's running React 17. Learn more: https://reac

[2022-03-31 09:40] nath1as commented on #1555
this still happens on Linux using remix 1.3.3

[2022-03-31 12:20] lili21 commented on #2551
![image](https://user-images.githubusercontent.com/4456380/161053225-3c043d2a-38d0-4f01-ba51-84e4edf1846f.png)
When I visit http://localhost:3000, it redirect to http://localhost:3000/auth

[2022-03-31 12:37] lili21 commented on #2551
it due to the `sameSite: "none"` part.

![image](https://user-images.githubusercontent.com/4456380/161056144-dfabe614-81fa-4bbd-8cb9-15f323e8fe74.png)

it was blocked by browser.

[2022-03-31 13:34] a3diti commented on #1574
ok but we want it to send it from the client. Related to #1641

[2022-03-31 13:38] a3diti commented on #1641
The loader does send the hash successfully to the client using redirect since its resolved by remix with the `X-Remix-Redirect` header

![image](https://user-images.githubusercontent.com/3646190/161067684-b03f13a9-71da-49fa-b09a-fb77801a462c.png)
My use case is sending a json encoded on the hash as a query 🗡️

[2022-03-31 13:49] a3diti commented on #1641
The problem lies here:
https://github.com/remix-run/remix/blob/621b392cc6151be51dc30f4e2bba4603085d5da5/packages/remix-react/routes.tsx#L226-L229
It seems after parsing the redirect string, the transition is not taking the hash anywhere, only `pathname` and `search`

[2022-03-31 13:56] machour commented on #1641
Reopened this issue as my reason for closing was totally out of topic 😅

@andrelandgraf I just tried on a fresh remix install, it works for me (the # reaches the url bar)
Please provide a reproduce case for investigation (where are you trying to read the hash value?)

[2022-03-31 14:15] machour commented on #1510
Closing since no response was provided

[2022-03-31 14:15] #1510 closed

[2022-03-31 14:36] machour commented on #745
Update: this will likely be changed to `useNavigation()` in v2: https://discord.com/channels/770287896669978684/954403927489662986/959098437792575538

[2022-03-31 15:18] Paddy-Hamilton commented on #1355
I was getting this error when running through the blog tutorial [blog tutorial](https://remix.run/docs/en/v1/tutorials/blog), seeding the db .
[code]

I added your changes to the `tsconfig.json` and it's worked for me. Thanks.

Would be good to get this updated.

[2022-03-31 15:49] fnimick commented on #183
Any word on this? I'd like to set a content-security-policy for a new project and this is preventing us from doing so.

[2022-03-31 16:52] ryanflorence commented on #745
Unfortunate naming collision indeed!

We're currently going with `useNavigation` over in React Router as we bring over as many Remixism as we can there:

[code]

When we update Remix's dependency on the new React Router, we'll deprecate `useTransition` (it'll still work ofc) in favor of `useNavigation`, and in Remix v2, get rid of our `useTransition`.

[2022-03-31 16:52] #745 closed

[2022-03-31 17:11] rphlmr opened #2570 "React 18 : Hydration failed because the initial UI does not match what was rendered on the server."
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

Update https://github.com/remix-run/indie-stack/tree/main

- react: 18.0.0
- react-dom: 18.0.0

Update entry.client.tsx :

[code]

Run dev with  NODE_ENV=production

### Expected Behavior

No error

### Actual Behavior

White screen with errors :

[code]

[code]

[code]

[2022-03-31 17:14] rphlmr commented on #2570
No error when NODE_ENV=development

[2022-03-31 17:21] #367 closed

[2022-03-31 17:30] andrew-secret commented on #83
@Aprillion  Maybe you can help me. I'm trying to set up a remix project with Cloudflare workers. Each time I spin up the dev server with Miniflare I always see that my build directory is full of hashed files which are generated on the fly on each file change. Is this related?

[2022-03-31 17:33] rphlmr commented on #2570
🤷‍♂️ sorry can't reproduce. I close (maybe a caching issue ?)

[2022-03-31 22:27] machour commented on #2298
Fixed by #2412, thank you @F3n67u 🥳

[2022-03-31 22:27] #2298 closed

[2022-03-31 23:13] sfdc-ben commented on #2551
I needed to hardcode the secure value to true, and force to https and it works now. Thank you for the guidance!

[2022-03-31 23:13] #2551 closed

[2022-04-01 00:42] acusti commented on #806
@ErikCH i’m super excited to hear that you’ve been able to get Remix working with Amplify! i would love to start exploring that myself. i checked the docs you linked to and it only covers the amplify UI library, whereas the part i’m stuck on is how to integrate Remix with Amplify SSR hosting. i read the [AWS docs on Amplify SSR hosting](https://docs.aws.amazon.com/amplify/latest/userguide/server-s

[2022-04-01 01:31] MichaelDeBoey commented on #2564
Re-opening because it would be good to keep track of this as long as we don't support React v18

[2022-04-01 01:52] MichaelDeBoey commented on #2075
#1977 was merged

[2022-04-01 01:52] #2075 closed

[2022-04-01 04:25] s-oram commented on #2248
I'm also running into this error since upgrading to Remix 1.3.4. Downgrading to Remix 1.3.2 resolves the error.

(Unfortunately Remix 1.3.1 to 1.3.3 all throw a different, unrelated, error when deployed to AWS. 😂)

[2022-04-01 08:40] ccssmnn commented on #1589
@cliffordfajardo the way Remix builds the app is independent of the adapter used. See [the Technical Explanation](https://remix.run/docs/en/v1/pages/technical-explanation#http-handler-and-adapters).

[2022-04-01 09:10] a3diti commented on #1641
@machour @andrelandgraf
I checked also with fresh install, same thing occurs, to make it clear how it happens:

We have two routes:

**index.tsx**
[code]

**test.tsx**
[code]

My actions:
I visit directly `/test` creates a `Location: /#hello` header and redirects me at `/#hello`
I visit `/` and click on `Lets test` link, it sends me to `/test` and then creates location header `X-Remix-Redirect: /#

[2022-04-01 10:53] penx opened #2580 "Clarify that netlify needs to be installed globally"
### What version of Remix are you using?

^1.3.4

### Steps to Reproduce

After choosing netlify as the deploy target, I get an error running `npm run dev`.

Is this because a netlify CLI needs to be globally installed? I wasn't expecting the build target to affect dev mode, but if that's the case, perhaps it could be made clearer during `npx create-remix` or the error message could be clearer?

[

[2022-04-01 11:51] machour commented on #1641
My investigation shows that if you change to import from "@remix-run/node", the problem goes away

[2022-04-01 12:32] HuyAms opened #2582 "ESM only packages: Remix should automatically bundle all dependencies of the mentioned packages"
### What version of Remix are you using?

1.3.2

### Steps to Reproduce

Hi, I try to add `react-markdown` to Remix and get this error `Error: require() of ES Module`. To fix the issue, I follow this doc: https://remix.run/docs/en/v1/api/conventions#serverdependenciestobundle and add `react-markdown`there but it doesn't help.

[code]

https://stackblitz.com/edit/node-u2wf1e?file=app%2Froutes%2Find

[2022-04-01 12:50] a3diti commented on #1641
@machour
Even after making the changes of https://github.com/remix-run/remix/pull/2581 the transition is not triggering the `hashchange` event

My hashchange event listener is run only once with `useEffect` on a permanently mounted component
For example from my sample before, this is the new **index.tsx**
[code]

What is happening is that the URL hash did change from the new patch when transition

[2022-04-01 12:58] machour commented on #1641
@a3diti Are you sure that hashchange is triggered when the whole url changes ? (you did go through a redirect, and you got back to a new url with a hash baked in)

[2022-04-01 13:24] machour commented on #902
The routing documentation have been rewritten by @ryanflorence, enjoy!

https://remix.run/docs/en/v1/guides/routing

[2022-04-01 13:24] #902 closed

[2022-04-01 13:45] a3diti commented on #1641
@machour
The `hashchange` event is **NOT** triggered, which raises a new issue to the redirect transition with hash

For me the temporary solution was to make the patch with [url.hash](https://github.com/remix-run/remix/pull/2581/commits/7807af4322b2758e4e370b18c4f2de4435977958#diff-d10f27b26c030cb47343fa74a70c39accd9e2dccc6cdd8df40c0f3bee230ca61) on transition and on the client instead of using a

[2022-04-01 14:02] machour commented on #1641
yeah, I meant are you sure it **SHOULD** be triggered?

- From my understanding, `hashchange` is triggered when you're **already** on the page, and the hash changes.

[code]

1. If I load `foo.html#bar` in the browser, I see no console log.
2. If I manually change it, I see the log

In your case, you are being redirected to a new page with a hash, so you're in case 1, and `hashchange` is not trigg

[2022-04-01 16:01] swamidass commented on #1589
Perhaps, but look at the file API from Vercel here: https://vercel.com/docs/file-system-api

Currently Remix puts the server file into: "api/server.js". Which is NOT run at the edge. If the file is placed at "api/_middleware.js", however, it might run at the edge.

Perhaps...

1.  Remix needs APIs or convention available for deciding which code our routes should run at the edge or not in Remix. Pe

[2022-04-01 16:30] penx commented on #683
https://github.com/remix-run/remix/pull/2359 has been merged and included in 1.3.4 which at least solves the basic setup for me.

I was able to get the remix "basic" template working with 1.3.4 in a yarn 3 monorepo (using node_modules resolution) by:

1. Removing `"postinstall": "remix setup node",` from package.json **before doing any install**
2. Changing `root.tsx` imports to:

[code]

3. Chang

[2022-04-01 17:00] penx commented on #1423
@adonaicandido

@machour

Which feature is this in reference to? https://github.com/remix-run/remix/pull/1806 was closed without merge. I can see a reference to https://github.com/remix-run/remix/pull/1839 but `serverDependenciesToBundle` doesn't seem to be working for me (transpiling typescript from another package in a monorepo).

If I add

[code]

I still get

[code]

(Where the entry point to

[2022-04-01 17:53] machour commented on #1641
Closing this as the original reported issue have been fixed.
@a3diti Feel free to open a new issue if you're sure this is a remix issue, and thank you for the pointers!

[2022-04-01 17:53] #1641 closed

[2022-04-01 18:02] jacob-ebey commented on #2580
If you run `npm run build` then `npm run dev` does it work? `ENOENT` usually means something is trying to read / require a file that does not yet exist on disk.

If the above works, then we should update the template to first do a build before starting the netlify server.

[2022-04-01 18:09] jacob-ebey commented on #2535
The only way around this that I can think of is implementing a file lock and making sure that wrangler respects that lock. Would be a bit of coordination needed there though. How slow of a laptop are we talking here?

[2022-04-01 18:28] mcansh commented on #885
sorry for the delay, updated QR code is being deployed now

[2022-04-01 18:28] #885 closed

[2022-04-01 18:32] mcansh commented on #1536
https://github.com/remix-run/remix/pull/1537 was merged to dev, will be out next week

[2022-04-01 18:32] #1536 closed

[2022-04-01 18:35] calavera commented on #806
👋 @acusti It's currently not possible to deploy Remix apps using the Amplify Hosting SSR implementation because it's designed to work with Next.js at the moment. We're working on several improvements that would remove that limitation. Now that I'm aware of this thread, I'll keep you all informed here when we have news worth sharing.

[2022-04-01 18:57] jacob-ebey commented on #2522
Fix will be in next release. Thanks for the report :)

[2022-04-01 18:57] #2522 closed

[2022-04-01 19:02] jacob-ebey commented on #2509
Seems like the build is resolving multiple versions of React. Can you copy the project out of the turborepo and see if you can install and run it standalone? It's probably a dependency resolution / linking issue with turborepo.

[2022-04-01 19:03] rphlmr commented on #2570
@DAlperin  Yes I can ;)
I reproduce if I `npm run dev` after a cypress run.
But if i clean build folder ans re run dev, no more problems 🤷‍♂️

[2022-04-01 19:10] DAlperin commented on #2570
@rphlmr I just tried `rm -rf tmp .cache build && npm run dev` and the problem persists. Any ideas?

[2022-04-01 19:13] Arcath commented on #2511
Thats fixed it thanks :)

[2022-04-01 19:13] #2511 closed

[2022-04-01 19:25] jenseng commented on #1792
Oof yeah, just ran into this on 1.3.4 as well, I'll take a stab at a PR if nobody is working on this yet

[2022-04-01 19:26] jenseng commented on #1792
Looks like https://github.com/remix-run/remix/pull/1822 should fix it

[2022-04-01 19:37] penx commented on #2580
No that doesn't help:

[code]

[2022-04-01 19:39] penx commented on #1111
Related https://github.com/remix-run/remix/issues/683

[2022-04-01 20:25] machour commented on #2580
@penx `netlify` needs indeed to be installed globally, this is mentioned in the Netlify template's [README](https://github.com/remix-run/remix/tree/main/templates/netlify#netlify-setup) but not really obvious when configuring a new project.

@jacob-ebey could some additional output be logged depending on the chosen template in `create-remix`?

[2022-04-01 20:40] CrshOverride commented on #806
Do you happen to know if that includes the Authentication components? That's a big blocker for me at the moment moving forward.

[2022-04-01 20:47] ErikCH commented on #806
@CrshOverride ! Yup that's what we've been testing with and it's been going well.

[2022-04-01 21:01] machour commented on #1093
I think it's fair that `create-remix` create its own directory, and errors if it exists, like most tool of this kind do.

Closing this issue for now, feel free to open a [Discussion](https://github.com/remix-run/remix/discussions) to gather some feedback if you still think that this should be included 🙏🏼

[2022-04-01 21:01] #1093 closed

[2022-04-01 21:02] machour commented on #214
A conversation was started by Ryan for Storybook support: https://github.com/remix-run/remix/discussions/2481

[2022-04-01 21:04] CrshOverride commented on #806
@ErikCH Do you have a gist or anything anywhere that you can toss up to show the flow? That would be amazing if it "just worked" but I need it to secure calls to the "backend" as well. :thinking:

[2022-04-01 21:31] rphlmr commented on #2570
@DAlperin  I have a [demo here](https://github.com/rphlmr/supa-fly-stack/tree/chore/react-18) but It works
I think I follow the react migration guide to adapt this.

If it can help, i'm on macos with node v16.14.2

[2022-04-01 22:47] kentcdodds commented on #214
Let's defer to that. We prefer to focus on discussions and PRs and keep issues to a minimum 👍

[2022-04-01 22:47] #214 closed

[2022-04-01 23:32] jacargentina commented on #2248
Same error, but not using `unstable_parseMultipartFormData` at all.

[2022-04-01 23:56] machour commented on #2424
@laurencefass can you try again with latest release?

[2022-04-02 00:02] #1950 closed

[2022-04-02 00:51] Franrro2 opened #2604 "Thank you for signing the Contributor License Agreement. Let's get this merged! 🥳Fix(remix_react)add massage if server-side code Spills to client"
Thank you for signing the Contributor License Agreement. Let's get this merged! 🥳

_Originally posted by @remix-cla-bot in https://github.com/remix-run/remix/pull/2403#issuecomment-1073065633_

[2022-04-02 00:55] #2604 closed

[2022-04-02 01:17] umamiMike opened #2605 "Site instructions have incorrect dependency"
### What version of Remix are you using?

  "name": "blog-tutorial-459a",

### Steps to Reproduce

Attempt to perform this step:
[https://remix.run/docs/en/v1/tutorials/blog#loading-data](https://remix.run/docs/en/v1/tutorials/blog#loading-data)

[code]

However example uses
[code]

https://github.com/remix-run/remix/blob/405d85fc5401a6fef2a9d6aee518ada03ec6080c/examples/blog-tutorial/app/routes/p

[2022-04-02 01:46] MichaelDeBoey commented on #2605
#2596 will fix this

[2022-04-02 01:46] #2605 closed

[2022-04-02 10:32] machour commented on #1827
@ranihorev Are you still facing this weird issue?

[2022-04-02 10:38] #421 closed, assigned to nobody

[2022-04-02 10:51] machour commented on #1597
Are you still experiencing this with latest release?

[2022-04-02 10:58] machour commented on #1469
Closing this since we now have [Remix Stacks](https://remix.run/docs/en/v1/pages/stacks).

[2022-04-02 10:58] #1469 closed

[2022-04-02 11:06] machour commented on #1028
It seems indeed that there are two titles on the page, and one is not managed by remix.
Closing this for now, please provide a small reproduce case as a repo is you still think something is wrong with remix.

[2022-04-02 11:06] #1028 closed

[2022-04-02 11:35] machour commented on #1917
Tracked in #2150

[2022-04-02 11:35] #1917 closed

[2022-04-02 11:37] machour commented on #1724
Closing this. A new issue should be opened if another problem exists.

[2022-04-02 11:37] #1724 closed

[2022-04-02 13:18] penx commented on #2580
Maybe I’m missing something, but if netlify is a _deploy target_, why is the cli needed during development?

[2022-04-02 13:56] ranihorev commented on #1827
I gave up on remix. I couldn't make it work

[2022-04-02 18:25] kelleyperry commented on #2432
<img width="404" alt="Screen Shot 2022-04-02 at 11 25 03 AM" src="https://user-images.githubusercontent.com/4185768/161396378-8470ab76-ae1b-4249-a1c0-83c1f4c182dc.png">

[2022-04-02 20:03] Brookke commented on #667
Has anyone managed to resolve this for cloudflare pages?

[2022-04-02 20:38] DAlperin commented on #2570
@rphlmr I published my code to a branch of my repo. If you get the chance, do you think you could look it over or try running it?
https://github.com/DAlperin/dov.dev-remix/tree/react-18-broken

[2022-04-02 21:14] oluwatobiadegoke commented on #529
Same thing here

[2022-04-02 22:08] blindgumption commented on #2419
thanks @chaance for the update and work around.
I've done a bit more poking around.

TL;DR - it might be an issue with NVDA as it mostly works with JAWS.  Given there is a good work-around, it might be better to not spend a lot of time on this now, especially if create-remix is getting an overhaul.

The rest of the story -
I cranked up NVDA to DEBUG and went through the process again, there was no

[2022-04-03 03:34] knpwrs commented on #202
As someone who has used both i18next and [lingui](https://github.com/lingui/js-lingui), I'd like to give a shoutout to lingui. They let you write your strings inline with React components, including pluralization, and then it extracts ICU strings for you so you don't have to know that syntax yourself.

Unfortunately, it's based on Babel Macros, so if it were to be supported in Remix it would be th

[2022-04-03 20:21] wedelgaard commented on #1186
Having the samme issue (with setup: remix + basic + typescript + cloudflare pages). The above solutions doesn't seem to do the trick :( Unfortunately the docs doesn't say anything about this :(

[2022-04-03 21:52] icatalina opened #2619 "Firefox `network.preload: false` kills navigation"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

In Firefox:

1. Type `about:config` to edit firefox configuration.
2. Disable `network.preload`
3. Navigate to https://remix.run
4. Click one of the CTAs

Nothing happens

It happens both, using remix, and in the remix website.

I'm not entirely sure if this is a remix or a firefox issue though 🤷

### Expected Behavior

Navig

[2022-04-03 23:42] eldarshamukhamedov opened #2620 "Changing devServerPort in remix-config.js has no effect on dev server websocket port"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

1. Create fresh Remix app with the `basic` template: `npx create-remix --template basic`
2. Run `npm install`
3. Add `devServerPort: 10890` to the `remix.config.js` file
4. Run Remix dev server with `npm run dev`

### Expected Behavior

No console errors:
![image](https://user-images.githubusercontent.com/1694252/161453872-6a

[2022-04-04 01:39] timfee commented on #2248
I have a very trivial example where it appears React 18 is the culprit, https://github.com/cloudflare/wrangler2/issues/754 -- not sure if anyone else has such an issue

[2022-04-04 04:58] nilobarp commented on #1601
Had the same issue. Fixed by changing `remix.confix.js`
**from**:
[code]
**to**:
[code]

[2022-04-04 07:07] #806 closed

[2022-04-04 08:10] rphlmr commented on #2570
@DAlperin It works (react-18-broken) on my machine ^^"

[2022-04-04 09:50] 0x219 commented on #154
Is there any progress？

[2022-04-04 10:01] oliverjam commented on #2306
In case anyone else stumbled across this like me, my solution in the end was to just redirect to the relative path+search:

[code]

[2022-04-04 10:01] jaschaio commented on #2399
Ok I see that this seems to be done by esbuild. Not sure why it works in my other applications that are using esbuild as well, but using a different variable name is a reasonable workaround.

[2022-04-04 10:01] #2399 closed

[2022-04-04 10:12] ToniMaunde commented on #1654
Hi. On the same note, certain links in the authentication section of the Jokes App are broken.
Section link: https://remix.run/docs/en/v1/tutorials/jokes#authentication

[2022-04-04 12:49] juhanakristian commented on #1827
This seems to be happening because `react-pdf` tries to load `pdf.worker.js` from `/papers/pdf.worker.js`.

According to `react-pdf` documentation, the `dfjs.GlobalWorkerOptions.workerSrc` attribute needs to point to the location of the worker file. https://github.com/wojtekmaj/react-pdf#standard-browserify-esbuild-and-others

Here's a minimal reproduction
https://codesandbox.io/s/stupefied-brahma

[2022-04-04 13:17] ranihorev commented on #1827
Thanks for looking into this!

On Mon, Apr 4, 2022 at 05:49 Juhana Jauhiainen ***@***.***>
wrote:

[2022-04-04 13:30] aiji42 commented on #1619
I have created a sample on how to use linaria in remix. It is safe to wait for the official announcement, but in the meantime I hope this will be helpful.
https://github.com/aiji42/remix-esbuild-override/tree/main/examples/linaria

[2022-04-04 14:37] timfee opened #2625 "remix-run + cloudflare-pages breaks using React 18"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

1. Create a new project, `yarn create remix`
2. Use TypeScript and choose **Cloudflare Pages** when prompted.
3. Run `yarn dev`
4. Observe everything works
5. Update `react` and `react-dom` to `18.0` in `package.json`
6. Run `yarn` and then `yarn dev`
7. Observe the error (in "Actual Behavior")

(also cross-posted to `wrangle

[2022-04-04 15:51] machour commented on #1827
Closing this issue. @ranihorev don't hesitate to reach out in GitHub Discussion or our [Discord server](https://discord.com/invite/remix) if you need help, we'd love to onboard you on Remix!

[2022-04-04 15:55] DAlperin commented on #2570
@rphlmr figured it out! `remix-themes` seemed to be playing weirdly with the new hydration in some edge cases. (I think the useTheme hook was returning conflicted values on the client and the server). I'll open up a issue over there to track. Thank you for your help!

[2022-04-04 20:53] mikestopcontinues commented on #1601
@nilobarp That's already in my `remix.config.js`. Why would it matter either way? My best guess is these solutions are all part of an elaborate April fools prank. 😁

[2022-04-04 20:56] nicksrandall commented on #1555
Still happening on 1.3.4

[2022-04-04 21:51] alishi973 commented on #2620
For short-term solution, you can pass explicit ``port`` as props to ``<LiveReload />`` in ``/app/root.tsx``.
It seems ``devServerPort`` from ``remix.config.js`` will not inject into the browser bundle.

[2022-04-04 22:41] kiliman commented on #1601
I believe there was a bug in the dev tool in that it wasn't passing the `REMIX_DEV_SERVER_WS_PORT` variable to the compiler. Have you tried the latest version? Remix now gets a random unused port for the WS port.

[2022-04-04 22:47] nilobarp commented on #1601
@mikeybinnswebdesign wish it was a prank. I tried everything mentioned in this thread, the only thing that worked was the change in `remix.config.js`. I undid the change reload stopped working, bring it back reload works again.

This is too much magic for my brain.

[2022-04-04 22:52] kiliman commented on #1555
Part of the issue is that Remix is constantly purging the require cache on every request (in "development"). This results in a lot of garbage and if you make enough requests quickly enough, the process will run out of memory before the GC can do its thing.

I have my own `<LiveReload/>` component, that calls an endpoint `http://localhost:3000/build/__purge__` before it does the refresh. Then in my

[2022-04-05 00:42] mikestopcontinues commented on #1601
@nilobarp @kiliman — Just figured out, for me it was disabling `devServerPort` which doesn't seem to be working anyway. Thanks!

[2022-04-05 08:10] Nipsuli commented on #2504
Run into same. Versions I'm running:

[code]

Trying to create type script remix app to be deployed to Cloudflare Pages:
[code]

Fails with:
[code]

Workaround: running `npm install --force` manually

[2022-04-05 10:15] doppelmutzi commented on #2620
In contrast to the documentation, the dev server port is not defaulting to 3000 with my indie stack project. The app server port in different every time I run `npm run dev`.

I have the same problem with 1.3.4, that I couldn't manage to set the dev server port in the `remix.config.js`. What works for me as a workaround is to set the port explicitly in the root `package.json` like this

[code]

[2022-04-05 12:06] alishi973 commented on #2620
@doppelmutzi, do not confuse the ``express`` static file serve ``port`` and ``LiveReload`` ``port``, this issue is related to the web-socket port on the browser bundle files, and your problem is related to the express port.

About your problem:
https://github.com/remix-run/remix/blob/981bb7621f7936b43612335c6c8945c634105468/packages/remix-dev/cli/commands.ts#L249-L251
As you can see, ``getPort`` w

[2022-04-05 12:09] na2hiro commented on #2400
This error also happens to newcomers with `npx create-remix@latest`. It would be nice to show friendly error message, or mention that on the getting started page https://remix.run/docs/en/v1

[2022-04-05 13:05] tavoyne commented on #2261
Why is all the boilerplate in the emotion example even necessary? It's just working out of the box for me.

[2022-04-05 13:52] MichaelDeBoey commented on #2504
This will be fixed in the upcoming release since #2530 is merged

[2022-04-05 13:52] #2504 closed

[2022-04-05 14:03] 3x071c commented on #2261
@tavoyne [Docs](https://emotion.sh/docs/ssr)

[2022-04-05 15:22] daphnesmit commented on #2151
I followed the guide and also got FOUC.
the server does render some styles. but not the styles used in my Container and Title component added in the Index.
https://github.com/daphnesmit/thaicello for reproduction
visually at : https://thaicello.netlify.app/

[2022-04-05 15:56] doppelmutzi commented on #2620
Thanks for the clarification

[2022-04-05 16:47] eldarshamukhamedov commented on #154
@0x219 have you tried upgrading to the latest version of Remix? I am running 1.3.4 in a Rush monorepo using PNPM and no longer need the workaround [described above](https://github.com/remix-run/remix/issues/154#issuecomment-980815892). I am not using PNPM workspaces, however, so your mileage may vary. I also ended up switching away from `import from 'remix'` to `import from '@remix/node'` (etc), s

[2022-04-05 17:43] 3x071c commented on #2261
@tavoyne Using emotion in the "out-of-the-box" SSR mode doesn't require an example, while the more advanced approach does. If one prefers the secondary approach for whatever reason (more control, better support etc.), I think they should get a proper example for that, just like Next.js (et al) do in their examples.

[2022-04-05 20:24] styxlab commented on #2625
The same error surfaces also with the cloudflare worker template.

[2022-04-06 01:33] 0x219 commented on #154
ok thanks, i get it.

[2022-04-06 01:41] coreybruyere commented on #2151
@daphnesmit what do you mean by `--template`? I haven't been able to fix this FOUC issue - as seen here: (https://california-custom-tile.netlify.app/). My latest attempt at a fix can be found here: https://github.com/coreybruyere/california-custom-tile/pull/2

[2022-04-06 07:10] daphnesmit commented on #2151
I already did a fresh copy paste and there it worked. Dont really know what what the issue was.
you're repo is probably private because I get a 404.

I managed to get it to work. The thing that I find interesting is that both the example from Stitches & the example from Remix work but they are both different:
stitches: https://github.com/jjenzz/remix-stitches/blob/main/app/entry.client.tsx
remix e

[2022-04-06 07:58] Schular commented on #2570
In my case `Apollo Client Devtools` was causing the app to crash after upgrade to React v18, because it was injecting a script tag on client side.

Who have this problem could try running in incognito mode in order to exclude browser extensions.

[2022-04-06 08:53] tavoyne commented on #2261
Thanks for clarifying that. Well, the only thing we have for now is a broken, contextless example. It could be wise to rename it `emotion-advanced`, and also to have an `emotion-basic` example. You mentioned Next.js, here's what you can read on emotion's website about it:

<img width="745" alt="image" src="https://user-images.githubusercontent.com/29731597/161934961-e044e5fd-7375-45be-b22f-02be980

[2022-04-06 10:35] machour commented on #2261
@tavoyne We'd be more than glad to review a PR with the changes you've mentionned!

[2022-04-06 12:26] tavoyne commented on #2261
@machour That's what I was planning to do. I just hoped that we could discuss things beforehand.

[2022-04-06 12:36] timseriakov commented on #599
Yup, still happening in 1.3.3 as of April 2022.

[2022-04-06 13:50] 3x071c commented on #2261
@tavoyne I don't think an `emotion-basic` example is necessary, as there's no configuration needed whatsoever. That's why most often the advanced SSR use case is being showcased in examples, because it's way harder to get right. I also feel like your suggestion is a little off-topic to mine; I just opened this to call attention to the problem with the current inefficient emotion example that some

[2022-04-06 14:27] tavoyne commented on #2261
I'm not sure to agree. The point of examples is to help newcomers, not to confuse them. You mentioned Next.js, note that it does have a [_basic_ example](https://github.com/vercel/next.js/tree/canary/examples/with-emotion-vanilla) (which indeed is quite trivial) but has no _advanced_ one. About the fact that it's off topic, I apologise. I thought this was about making the emotion example better.

[2022-04-06 14:52] 3x071c commented on #2261
@tavoyne The basic example you linked actually does extract and inline critical CSS using "advanced" SSR techniques (definitely more simple than what the emotion docs suggest though). [This is the true basic example](https://github.com/vercel/next.js/tree/canary/examples/with-emotion), which as you can see is so stupidly simple (just install the dependencies and use the library) that there's no re

[2022-04-06 16:07] #1031 closed

[2022-04-06 16:14] MichaelDeBoey commented on #296
Closing as #2456 is merged now

[2022-04-06 16:56] coreybruyere commented on #2151
@daphnesmit I made my repo public. Saw your repo was private too. To get yours working did you follow the stitches example or the remix example? Going to try fixing later today. I couldn't get the codesandbox examples working.

[2022-04-06 17:50] mcansh commented on #296
that didn't fix it 😢

[2022-04-06 19:10] lpsinger commented on #1536
Indeed, it is fixed now. Thank you!

[2022-04-06 19:26] omarkhatibco commented on #2625
@styxlab @timfee it's fixed in here #1977 and should be included with v1.3.5

[2022-04-06 20:13] dangdennis commented on #2469
I am seeing the same issue. I'm installing the swiper library. It provides multiple css files to import. In the meantime, I'll make a local copy.

[2022-04-06 20:30] #2625 closed

[2022-04-06 20:39] timfee commented on #2625
confirmed this fixes the repro case -- thank you! :)

[2022-04-06 21:48] styxlab commented on #2625
Still seeing this issue with cloudflare-workers. Will ioen a new issue.

[2022-04-06 22:34] nicholaschiang opened #2673 "`useMatches` response type is incorrect"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

I think the return type of `useMatches` is incorrect:
[code]
And then `RouteData` is defined as:
[code]
When in reality `RouteData` could be a `string` or an `array` or anything else in `AppData`:

[code]

![image](https://user-images.githubusercontent.com/20798889/162083267-ea9f4999-89ea-411a-9bbe-1df7708e9c4b.png)

In that

[2022-04-06 22:55] rossipedia commented on #2673
I think you're right:
<img width="1192" alt="Screen Shot 2022-04-06 at 4 53 19 PM" src="https://user-images.githubusercontent.com/96213/162085939-b8d3622c-299e-4d58-b883-7ee0342d2733.png">

In this example, the data returned from the loader is a `number`, and indeed is serialized and deserialized as a number, but the typings are defined as: `{ [routeId: string]: AppData }`

[2022-04-07 02:18] #2570 closed

[2022-04-07 05:46] swwind opened #2675 "Massive js chunks generated in one page"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

in `app/routes/index.tsx`

[code]

### Expected Behavior

Remix build can bundle multiple dependencies into one single (or a few) js chunks.

### Actual Behavior

Remix generated almost 300 js chunks, and most of them are only 1~2kb size.

![image](https://user-images.githubusercontent.com/26316494/162127880-8a150b3f-0e66-456

[2022-04-07 06:58] styxlab commented on #2299
Now that #1977 is fixed and published on `1.3.5-pre.3` I revisited this issue, but could not get it to work. With React `18.0.0-rc.3` and the following `entry.server.tsx`:
[code]
remix doesn't recognize the `import { renderToReadableStream } from 'react-dom/server'`. This looks similar to https://github.com/facebook/react/issues/24226, but not sure how to deal with it in remix.

Interestingly, the

[2022-04-07 07:19] wingy3181 commented on #2509
Interestingly I got the same issue in `examples/routes-gen`  (which doesn't have an `.nvmrc` file) when using node 16.13.0 and then i  switched to node 14 and then it worked....

Obviously that doesn't address the root cause but maybe try that too?

[2022-04-07 09:38] npirotte opened #2677 "Monorepo and dependency installation check"
### What version of Remix are you using?

remix@1.3.5-pre.1

### Steps to Reproduce

* Setup a mono repo (for example with nx) with a remix application, having it's own package.json, and at least another library that have some third party dependency (simply install and import lodash, that will be enough).
* From remix application, import the component from the other library (so the third party is

[2022-04-07 10:01] F3n67u commented on #2677
@npirotte could you create a reproduction repo for this issue?

[2022-04-07 10:12] npirotte commented on #2677
ha, I forgot to paste the link: https://github.com/npirotte/hello-visx

Just run `nx build demo`

[2022-04-07 11:06] F3n67u commented on #2677
remix doesn't know you specify some common those deps at the monorepo root `package.json`, so this is why remix complains: `dep not listed in your package.json dependencies`.

https://github.com/remix-run/remix/blob/5144a17eccb788f56ad58f5e0f122af1047631a7/packages/remix-dev/compiler/dependencies.ts#L15-L19

rootDirectory is `./packages/demo`

[2022-04-07 11:11] F3n67u commented on #2677
This warning is introduced by https://github.com/remix-run/remix/pull/2558/files#diff-ef8b0a35f03b499672160742c2d6b9688717e8d6b923dde0e10d2631ab0c09d6R419

[2022-04-07 14:40] miguderp opened #2681 "Warning: Expected server HTML to contain a matching <head> in <html>."
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

Run `npx create-remix@latest` and inspect the Developper Tools

### Expected Behavior

Not having this error out of the box

### Actual Behavior

I wanted to start my project using the basic setup for Remix but no matter what I instantly get this error message, even if I pick "Remix App Server". What am I missing?

![image](h

[2022-04-07 14:46] machour commented on #2681
Hi @miguderp, can you try in Incognito Mode? Some browser extension is maybe injecting something in `<head>`

[2022-04-07 14:48] #2681 closed

[2022-04-07 15:08] laurencefass commented on #2424
Installation worked seamlessly with ```npx create-remix@latest``` command. Installed 1.3.4. Thanks.

[2022-04-07 15:34] #1077 closed

[2022-04-07 15:55] laurencefass opened #2684 "Teething problems trying to access the site through nginx reverse proxy. Not sure how to correctly configure proxied dev ports and seeing "Upgrade required" message in browser."
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

Ive installed 1.3.4 using npx command and indie install option.

Im running through a proxy so Ive changed the main port and the devserver socket port to the same value specified in my proxy config:

remix.config.js

[code]
.env

[code]

results of running in dev mode

[code]

FYI my nginx config:

[code]

Output accessing UR

[2022-04-07 16:05] laurencefass commented on #2684
I also tried
[code]

which resulted in
[code]

so remix is not picking up any of the PORTs i specify.

[2022-04-07 16:09] arpitdalal opened #2685 "Remix cli seems to be broken"
### What version of Remix are you using?

latest

### Steps to Reproduce

run `npx create-remix@latest remix-app` and select the following
[code]
and it will not even create a simple app and gives me these files/folders:
![image](https://user-images.githubusercontent.com/61059807/162246128-815458d5-2fc4-48a2-aafb-535f49d75170.png)

Here's the whole folder zipped : https://drive.google.com/file/d/1

[2022-04-07 16:12] MichaelDeBoey commented on #2685
Are you installing it next to a fork of the `remix` repo?

[2022-04-07 16:21] arpitdalal commented on #2685
yeah

[2022-04-07 16:30] #2685 closed

[2022-04-07 17:12] LukeXF commented on #1601
LiveReload does not work for me,

I copied the code that @kiliman shared and added more console logs. The frontend never seems to connect to the WS server and is just constantly pending.

<img width="324" alt="image" src="https://user-images.githubusercontent.com/6208873/162259220-7728fe18-c785-46b8-9183-7dd90457fadb.png">

No `ws.onmessage` console.log is ever ran either.

Any suggestions?

[2022-04-07 17:35] #145 closed

[2022-04-07 17:59] kiliman commented on #2685
@arpitdalal

Remix uses heuristics to determine where to pull the template from: from GitHub, file system, etc.

If the CLI finds a local folder with the name of the template, it will use that. Otherwise it looks on GitHub.

I believe the issue is that if the template is named "remix" (which is what the Remix App Server uses), it accidentally finds a local folder named "remix" and simply copies th

[2022-04-07 18:06] kiliman commented on #1601
@LukeXF Are you on Mac or Windows?

Did you add/change `devServerPort` in remix.config?

Also check to see if `REMIX_DEV_SERVER_WS_PORT` environment variable is defined.

Worst case, just update your `dev` script to:

`"cross-env NODE_ENV=development PORT=3000 REMIX_DEV_SERVER_WS_PORT=8002 remix dev"`

[2022-04-07 18:36] arpitdalal commented on #2685
ohh... okay makes sense, thanks @kiliman for the explanation!

[2022-04-07 18:54] mcansh commented on #2476
hey folks, this is resolved in 1.3.5 by #2495 - feel free to re-open if you're still running into issues :)

[2022-04-07 18:54] #2476 closed

[2022-04-07 21:27] machour commented on #1282
Fixed in #2257 🎉

[2022-04-07 21:27] #1282 closed

[2022-04-07 21:30] garth opened #2691 "ESM? Build errors after updating to v1.3.5"
### What version of Remix are you using?

1.3.5 and 1.4.0

### Steps to Reproduce

update from 1.3.4 to 1.3.5 or 1.4.0

run `remix build`

### Expected Behavior

App should compile

### Actual Behavior

Lots of errors starting with the following:

[code]

There are many more errors, but all seem realeted.

Reverting back to v1.3.4 and everything is ok again.

[2022-04-07 21:38] coreybruyere commented on #2151
@daphnesmit are you running `netlify dev` as your dev script?

[2022-04-07 21:44] garth commented on #2691
I should also mention that adding the packages (which are not ESM only) to the serverDependenciesToBundle list does not make any difference.

[2022-04-07 22:41] DAlperin commented on #2691
Can confirm that downgrading worked for me as well as several others in the discord. From what I can tell by a quick glance through the commit merging 1.3.5 it seems like it makes some significant changes to the compiler in the remix-dev package, can't pinpoint what the problem is specifically yet.

[2022-04-07 23:46] machour commented on #1601
@drewkill32 is this issue fixed for you ?

[2022-04-08 00:00] drewkill32 commented on #1601
Just tried again with the latest from remix. No it hasn't. If I run it on my Linux machine or Linux Subsystem for Windows the hot reload works.

[2022-04-08 00:55] dalelotts opened #2692 "Any use of react-three/drei results in Cannot read properties of undefined (reading 'root') error"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

1. Clone this repo: https://github.com/dalelotts/r3f
2. Uncomment use of `OrbitControls` in this file https://github.com/dalelotts/r3f/blob/main/app/pano/canvas-wrapper.client.tsx#L10
3. Run `npm run dev`
4. Visit `http://localhost:3000/r3f` - TypeError: Cannot read properties of undefined (reading 'root') is displayed

### E

[2022-04-08 06:02] Jaikant commented on #2675
@swwind I tried to reproduce the issue, using your code. The files created in public/build were
[code]

The routes directory also had only a single chunk.

[2022-04-08 06:08] Jaikant commented on #2675
@swwind Your issue could be related to https://github.com/remix-run/remix/issues/2432

[2022-04-08 06:22] Jaikant commented on #2619
@icatalina I tried this in the latest release of firefox i.e 99.0, released on April 5, 2022.

The issue you mentioned, is not reproducible on this version of firefox (99).

[2022-04-08 06:23] swwind commented on #2675
Most of them located in `_shared` folder, and was required for page to load.

I created a repo [swwind/remix-build-issue](https://github.com/swwind/remix-build-issue) for this issue, you can clone and try to build it.

[2022-04-08 06:31] Jaikant commented on #2535
@HurricanKai This is not a remix issue.
I found this possibly related issue in the esbuild repo https://github.com/evanw/esbuild/issues/629

[2022-04-08 06:47] Jaikant commented on #2675
@swwind yes, I could see the bunch of files getting created in `_shared`.
This directory contains the JS [chunks](https://esbuild.github.io/api/#chunk-names) generated by esbuild as per [this](https://github.com/remix-run/remix/blob/46b96f53e8477dd9404d55e75b320775c3a8a7a4/packages/remix-dev/compiler.ts#L380)

This issue could be related to https://github.com/evanw/esbuild/issues/1581

[2022-04-08 07:21] npirotte commented on #2677
Would it be possible somehow that remix check parent project dependencies?

Or at least give the possibility to skip that check that can eventually be done by eslint for these more complex cases :)

[2022-04-08 07:30] stijnvanderlaan opened #2697 "useFetcher Form submit reloads page instead of throwing an error"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

https://codesandbox.io/s/zen-mestorf-hqkc18?file=/app/routes/index.jsx

In the example above there is an error in api.jsx because when you submit it is being called client side (?).
Because of api.jsx being called client side getData.server.js is not available, which results in an error, but this error is never thrown, instea

[2022-04-08 08:27] machour commented on #2619
@icatalina What version of firefox are you using?

[2022-04-08 09:30] F3n67u commented on #2677
@jacob-ebey what do you think?

[2022-04-08 10:33] sergiocarneiro commented on #2677
@F3n67u In a DX perspective, the best solution would be to set a path in `remix.config.js`:

[code]

[2022-04-08 11:15] npirotte commented on #2677
@F3n67u to me indeed the best solution would be to leave those things up to a specialised tool like eslint https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-extraneous-dependencies.md

Almost all the developers are using it (it might even be already turned on in company wide eslint config), so imo better let remix focus on its core topic: being an awesome framework to build

[2022-04-08 11:18] ivosabev commented on #2691
Same here with fontawesome pro

[code]

It adds `.js` when it should just look for `package.json`

[2022-04-08 13:03] chaance commented on #2409
Duplicate of https://github.com/remix-run/remix/issues/2248, working on it! Will update there when we can.

[2022-04-08 13:14] sergiocarneiro commented on #2677
Makes sense if remix doesn't need to know about dependencies.

[2022-04-08 13:14] chaance commented on #2248
FYI, I am working on this, but in the mean time you can either create a separate `.server.js` file as mentioned before, or initialize your server code inside your loader or action instead of the top-level scope of the route module.

[code]

Understand that this may be affecting code aside from `unstable_createFileUploadHandler` but this should work for *any* server-side-only code you are working w

[2022-04-08 13:23] mcansh commented on #2691
@ivosabev what does the fortawesome pro package.json look like in terms of `"type"` and `"exports"`?

[2022-04-08 13:34] LukeXF commented on #1601
I tried adding `"cross-env NODE_ENV=development PORT=3000 REMIX_DEV_SERVER_WS_PORT=8002 remix dev"` but I get:

`Error: remix dev is not supported for custom servers.` Because I'm using CF Pages, anyway I revmoed the custom server: "./server.js" code and I get `error: ReferenceError: crypto is not defined`

[code]

Then I get `It appears you're using a module that is built in to node, but you inst

[2022-04-08 13:37] zayenz commented on #2691
Similar issue for me with importing Headless UI into a Remix Blues stack app. After upgrading to 1.3.5 from 1.3.4 I get the following types of errors:

[code]

[2022-04-08 13:41] mcansh commented on #2691
good news, i think #2694 should cover these bases

[2022-04-08 13:44] ivosabev commented on #2691
### @fortawesome/pro-solid-svg-icons/package.json

[code]

@mcansh

[2022-04-08 13:55] ivosabev commented on #2691
Thanks for the quick fix!

[2022-04-08 15:01] kiliman commented on #2692
The underlying error is typically the one just before you get the `TypeError: Cannot read properties of undefined (reading 'root') is displayed`

In your case, I'm seeing this error: `Uncaught SyntaxError: Identifier 'React' has already been declared`

This is from the route bundle. When it's importing @react-three/fiber.
![image](https://user-images.githubusercontent.com/47168/162459780-f021a7ad-

[2022-04-08 15:25] kiliman commented on #1601
Odd. If the web socket server wasn't running at all, you should have gotten a "can't connect error".

Have you tried rebooting to make sure there isn't some stray process hanging onto that port?

[2022-04-08 15:38] #2248 closed

[2022-04-08 15:47] jacargentina commented on #2248
@chaance

i dont get it: why the same route code, migrating to react18 + latest remix throws the error? I’m not using any '[](https://github.com/jacargentina)@[jacargentina](https://github.com/jacargentina) jacargentina commented [7 days ago](https://github.com/remix-run/remix/issues/2248#issuecomment-1086412432)
Same error, but not using unstable_parseMultipartFormData' as i posted early.

[2022-04-08 16:03] chaance commented on #2248
I'm unsure how React 18 specifically would cause an issue like this, but this isn't just about `unstable_parseMultipartFormData`, it's about *any* code that should only be in your server bundle.

If you can create a new issue with a minimal repro showing your problem with React 18 we can try to help out there.

[2022-04-08 16:04] F3n67u commented on #2677
I filed a pr to solve this problem. so we have two option now:
1. merge my pr to solve the warning problem.
2. remove the warning logic and let eslint do analysis like @npirotte said

I am happy with either option 1 or option 2。

[2022-04-08 18:05] dalelotts commented on #2692
I just learned about `patch-package`, that's very cool, thanks.

I assume you are correct because the code works with `create-react-app`, I'll move this close this bug reopen it in `esbuild`.

It's also interesting to note that the size of the image is full height without drei but 1/3 height in CRA and also with the patches. 🤷‍♂️

[2022-04-08 18:05] dalelotts commented on #2692
@kiliman thanks for this!

[2022-04-08 18:11] kiliman commented on #2692
Yeah, `patch-package` is magic. It lets you get unblocked while waiting for a fix to land.

Anyway, it's definitely odd that the bundle is breaking. That's table stakes for a compiler/bundler. esbuild is converting ESM->CJS for the browser build so it's possible there's something broken there.

[2022-04-08 18:30] dalelotts commented on #2692
Doh! 🤦‍♂️

[2022-04-08 18:41] machour commented on #2692
Thank you @kiliman for your help on this one, we struggled without you!
Closing this issue as this isn't Remix fault !

[2022-04-08 18:41] #2692 closed

[2022-04-08 19:02] mstaicu commented on #1461
For everyone struggling with this, the denomination of the live reload web sockets server is based on a random port if port 8002 is not available

[code]

In that case, start the development process with the following environment variable set
[code]

[2022-04-08 20:02] crisshaker opened #2707 "Using MemoryRouter throws an error"
### What version of Remix are you using?

1.2.3

### Steps to Reproduce

It's rather simple to reproduce this. Just embed MemoryRouter from 'react-router-dom'. This is an example reproducing this issue: [link](https://stackblitz.com/edit/node-v8efyf)

### Expected Behavior

This is expected to work as remix is built on react router.

### Actual Behavior

This throws an error.

[2022-04-08 23:36] lensbart commented on #1111
Somewhat related: when running `yarn dlx create-remix@latest` instead of `npx create-remix@latest`, you get the following error:

`yarn dlx` is the idiomatic way to run packages without installing when using Yarn, and is analogous to `npx`.

[2022-04-08 23:37] lensbart commented on #683
Somewhat related: when running `yarn dlx create-remix@latest` instead of `npx create-remix@latest`, you get the following error:

`yarn dlx` is the idiomatic way to run packages without installing when using Yarn, and is analogous to `npx`.

[2022-04-09 02:22] nareshbhatia commented on #2564
I tried updating `app/entry.client.tsx` like this, but it is not working:

[code]

I get this error in the console:

[code]

The [suggestion in React docs](https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-client-rendering-apis) is to change hydrate as follows:

[code]

This is slightly different compared to my remix code where I am passing the entire document to `hydrateR

[2022-04-09 06:57] divmgl commented on #771
I'm glad we still have this issue open. I think I'll return to Remix once it has an elegant way of doing this. Last I spoke with @ryanflorence I proposed allowing loaders to pool promises into an array as a second parameter in the loader function so that nested loaders can `await` on them. That way we're not issuing multiple requests for the same data for a single page.

This isn't as relevant in

[2022-04-09 09:43] sergiodxa commented on #771
Passing a list of promises from other loaders wouldn’t be reliable.

The only time all the loaders are guaranteed to run all in the same server is on the initial document request, after that child loaders may be called without the parent loaders, or if they ask run together they could even will have different requests, in some platforms they may even have different physical hardware.

If your code

[2022-04-09 12:46] Aprillion commented on #1917
Still looks 💩 on Windows:
![image](https://user-images.githubusercontent.com/1087670/162574696-83316afe-dbef-44ff-8044-d862dd3d98bb.png)

[2022-04-09 13:58] boblauer commented on #2620
You can also set `REMIX_DEV_SERVER_WS_PORT` instead of passing the port to the `<LiveReload />` component.

[2022-04-10 08:23] icatalina commented on #2619
Hi @machour and @Jaikant,

I was using firefox 98, I'm using firefox 99 and I've tried in firefox 100. The issue is still happening in all 3 of them.

I'm sorry I didn't give much information in my original issue, this is using MacOS Monterrey, and those 3 versions of firefox.

https://user-images.githubusercontent.com/4542735/162609499-fb223773-8e23-43ff-a234-85092d4e555a.mov

As I mentioned in t

[2022-04-10 10:05] martinemmert commented on #158
Hey there 👋

I am currently implementing server-side authentication with Supabase and have run into this issue.

## Challange
- Users receive an account confirmation link via mail after creating a new account
- The link sends the user to the backend of Supabase to activate their account
- Supabase redirects to my website with two cookies that can use to establish a user session

Using the default

[2022-04-10 10:53] ZetraDev opened #2714 "Create-Remix not working"
### What version of Remix are you using?

/

### Steps to Reproduce

yarn create remix > YOUR_PATH > Just the basic > Cloudflare Pages > TypeScript > No
using npx still cause error
using other deploy target also cause error

### Expected Behavior

Work

### Actual Behavior

It returns an error:
```🚨 The provided template must be a Remix project with a `package.json` file, but that file does not ex

[2022-04-10 12:45] kemicofa opened #2715 "useFetcher() submit doesn't work with an object of type FormData"
### What version of Remix are you using?

1.1.3

### Steps to Reproduce

1. Create a Form component
2. `onSubmit` get the form element and `const formData = new FormData(form);`
3. Then add anything `formData.set('hello', 'world');`
4. Then `fetcher.submit(formData)`

And you'll notice we never arrive in the action handler. If I pass the form element directly to `submit`, then it works as expected

[2022-04-10 12:45] mcansh commented on #2691
sorry all, forgot to do this, i just cut `v0.0.0-experimental-9aba8b51` which has this in there :)

[2022-04-10 12:52] anantoghosh commented on #2714
https://github.com/remix-run/remix/discussions/2709#discussioncomment-2539300

Seems like it only affects windows. @kentcdodds.

[2022-04-10 13:44] machour commented on #2714
Tracked in #2691
For now you can use `npx create-remix@1.3.4`

[2022-04-10 14:27] anantoghosh commented on #2714
@machour that looks like an unrelated issue. This issue is related to npx create-remix tar extraction skipping all files.

quote from the discussion
https://github.com/remix-run/remix/blob/7d799e2b6d71f5d7ff572addca623545f975af96/packages/remix-dev/cli/create.ts#L255-L271
At least on windows, header.name.startsWith(filePath) is always false causing all files to get ignored.

[2022-04-10 14:38] machour commented on #2714
ReOpening so that @mcansh can take a look

[2022-04-10 15:34] SangeetAgarwal commented on #2714
I'm seeing the same issue on my windows machine, strangely enough, the `pre-configured stack, ready for production` works just fine

[2022-04-10 17:05] nareshbhatia commented on #1193
I hit the exact same issue today in my turborepo. The DX with Vite & Next.js is extremely smooth, however Remix app does not respond to changes in a UI lib without restarting the dev build. It would be great if @mxp-qk's patch can be incorporated.

[2022-04-10 22:25] ostwilkens commented on #2570
"Dark Reader" extension also triggers this error. Of course, disabling extensions isn't a solution. I can't ask visitors to disable all extensions to view my site.
@MichaelDeBoey could you reopen this issue?

[2022-04-11 00:00] Stancobridge commented on #831
still waiting on this though

[2022-04-11 01:00] dodas commented on #2677
Thumbs up for removing the check and leaving it to eslint.

[2022-04-11 02:59] jdevries3133 commented on #2488
Certainly we can add `DS_Store`, `.-undo-tree`, and probably a few others to the default route ignore patterns, right?

[2022-04-11 03:17] divmgl commented on #771
I'm going to repeat here what I've said on Discord. I understand how Remix _works_; it doesn't mean that the use cases are invalid.

...unless the endpoints were nested somehow or there was middleware, which is very common in backend systems. Almost every API framework I've ever used, even going back to the ASP.NET MVC days, has the concept of middleware.

Here's one use-case. Say I have this rout

[2022-04-11 05:02] sergiodxa commented on #771
I think your problem is not the duplicated fetching, but the duplication of code.

Because even with middleware the data would have been read one per API endpoint. Following your example, if you have a `/admin`, `/admin/profile` and `/admin/profile/security` endpoints in a normal API built using middleware, the code to get the user would have been extracted away from the controllers of those endpo

[2022-04-11 05:16] sergiodxa commented on #831
The new Remix Stack feature let you pass a `--template` option and use any repo on GH or another URL when creating a new project, if you build a custom adapter and create a repo on GitHub with the template you could do something like
[code]
And get a project with Nest and Remix already configured

[2022-04-11 05:55] ZetraDev opened #2726 "Submit form return error"
### What version of Remix are you using?

1.3.3

### Steps to Reproduce

create a form component and submit it

### Expected Behavior

no error

### Actual Behavior

it return 405 error with "405 Method Not Allowed"

[2022-04-11 07:08] machour commented on #2726
This error is displayed when you post to a route that doesn't define an action.
Did you define an `action` on your route?

[2022-04-11 07:22] ZetraDev commented on #2726
I defined the action in my route

[2022-04-11 07:29] ZetraDev commented on #2726
here's my code:
[code]

[2022-04-11 14:22] kiliman commented on #2488
That's very subjective. Once you start adding to the default pattern, everyone's going to start wanting to include their special patterns, when it's simple to just do it yourself.

Perhaps an acceptable middle-ground is to use the .gitignore patterns as well. This will typically include patterns like `.DS_Store` or `*.~undo-tree~` already. Since these files won't be committed, it makes sense that

[2022-04-11 14:37] kiliman commented on #771
@divmgl I used to think the same as you. I even added a patch to Remix to include a `X-Remix-Navigation-Id` header to track the same _logical_ request even if they are _multiple_ parallel requests. But it really only works if you have a single server that is guaranteed to process all the requests. So at that point, it's simpler to use a server-side cache that you manage.

Anyway, the initial reque

[2022-04-11 15:15] chaance opened #2729 "Bug: `npx create-remix@latest` doesn't work"
### Discussed in https://github.com/remix-run/remix/discussions/2709

<div type='discussions-op-text'>

<sup>Originally posted by **wingsmastr** April  8, 2022</sup>
When I ran `npx create-remix@latest` with the following options, the project wasn't created.
It worked fine the other day but not working today (4/8/2022).

The options that I selected:
[code]

Then, I got the following error:
[code]

[2022-04-11 16:06] machour commented on #2729
Already tracked in #2714

[2022-04-11 16:06] #2729 closed

[2022-04-11 17:27] ianduvall commented on #2691
Looks like `server-bare-modules` in `v0.0.0-experimental-9aba8b51` is failing to find `@heroicons/react`.

[code]

Here's a [repo](https://github.com/ianduvall/remix-test-1.3.5) to reproduce the issue (it's the Indie Stack with `@heroicons/react` added).

[2022-04-11 17:58] sfonua10 commented on #550
I'm getting: ```✘ [ERROR] Could not resolve "remix"

    app/routes/posts/index.tsx:2:42:
      2 │ import { Link, json, useLoaderData } from "remix";```. This is with the indie stack

[2022-04-11 18:22] mechanicMo opened #2734 "deployment to vercel fails with: "/bin/sh: remix: command not found""
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

create fresh remix app
deploy to vercel via github import

### Expected Behavior

app is deployed

### Actual Behavior

build fails with "/bin/sh: remix: command not found"

[2022-04-11 18:47] alekpentchev commented on #2726
What about the `<Form />` component? Could you please share its code?
Here you used `useLoaderData()` but you don't have the `loader()` function. Instead you're defining `action()` that doesn't do anything.
Typically you'd have the `action()` function on the same level as the component with a form, probably in `<Form />`. But without seeing its code it's hard to tell whether there's an issue in yo

[2022-04-11 20:09] clintonwoo commented on #1770
This workaround in package.json is working for me but even after this issue is closed I'm still getting the error without it on latest Remix 1.3.5

[2022-04-11 20:29] jdevries3133 commented on #2488
The only thing to note is that .DS_Store is often not in gitignore files.
It'll be in the system git config for macs, or it'll be in
`.git/info/exclude`.

Maybe we can have a boolean switch like `gitIgnoreRoutes` (I'm meh on that
specific name) which only acknowledges route files that are in version
control. That would take system wide config into account, as well as the
`.gitignore`, plus things

[2022-04-11 20:38] kiliman commented on #2488
I think the fact that you can edit *remix.config* to add your custom filters and with the new Stacks feature, where you can define your own "starter" templates, I'm not seeing a real need to clutter up the default config file. But that's just my take on it.

[2022-04-11 20:55] jdevries3133 commented on #2488
I don't have a good understanding of how many edge cases like the one I described would come from a git based route ignoring strategy.

I also don't have knowledge of additional edge cases of this sort of ignore strategy.

I feel that although ignore patterns certainly _can_ do the job, I think that the multi-faceted approach of ignore files in git (system config, .git/info/exclude, and .gitignore

[2022-04-11 21:07] #2535 closed

[2022-04-11 21:45] clintonwoo opened #2737 "[ERROR] Could not resolve "pg-native" when making single file build output"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

Seems like ESBuild is throwing an error when using `pg` package and remix.config.js `serverDependenciesToBundle: [/^.*$/]` to produce a single file server build. The problem seems because the pg library uses lazily required natively built bindings that are only peer dependencies.

In remix `1.3.2` I can just modify the regex

[2022-04-11 22:28] andrewbrey commented on #2737
@clintonwoo there is an open PR https://github.com/remix-run/remix/pull/1841 to expose the esbuild `externals` via configuration :+1:

[2022-04-12 00:11] ZetraDev commented on #2726
Sorry for making you confusing with my code, here is full code:
[code]

[2022-04-12 02:25] ZetraDev commented on #2726
So i just read the docs again and i see that it was using Form element from remix instead of normal <form> element, i tried it and the form submitted successfully, so i think the problem solved, sorry for wasting your time

[2022-04-12 02:25] #2726 closed

[2022-04-12 09:22] silvenon commented on #2715
Could one of you (or both of you) reproduce what your saying as a PR as described in "[Think You Found a Bug?](https://remix.run/docs/en/v1/pages/contributing#think-you-found-a-bug)"?

That will help maintainers resolve this issue.

[2022-04-12 11:07] #1140 closed

[2022-04-12 11:07] #1597 closed

[2022-04-12 11:16] machour commented on #934
Still happening on latest release

[2022-04-12 11:20] machour commented on #927
Tracked in #931

[2022-04-12 11:32] Jaikant commented on #2715
@silvenon I don't think this is a bug, atleast based on information provided by @kemicofa

[2022-04-12 11:38] kemicofa commented on #2715
I'll reproduce on a clean project later and share it here.

[2022-04-12 11:45] silvenon commented on #2715
I meant, with that PR you can prove to maintainers that there is indeed no problem, as you've already done the work of reproducing for them anyway. 🙂

At least that's how I understood [Kent's tweet](https://twitter.com/kentcdodds/status/1512077446828355593?s=21&t=0bx9xg6gzPATM4YS59i_Ag).

[2022-04-12 11:54] Jaikant commented on #2715
@silvenon understood! I shall probably wait for @kemicofa to provide more information. Just in case there are some boundary cases I didn't cover in my repro.

[2022-04-12 12:27] machour commented on #1621
@Steppico are you still able to reproduce this issue with latest version ?
If so, would you mind sharing a repository reproducing the issue?

[2022-04-12 12:44] machour commented on #1139
The original issue reported by @shadyendless was fixed in the documentation in https://github.com/remix-run/remix/pull/2704, so I'm closing this issue.

Feel free to open a new issue if something else is going wrong with files uploads

[2022-04-12 12:44] #1139 closed

[2022-04-12 12:51] #1557 closed

[2022-04-12 12:54] johanwin commented on #550
Regarding the indie stack, if you follow their example it seems it has been updated from `import { Link, json, useLoaderData } from "remix"` to this

'import { json } from "@remix-run/node";
import { useLoaderData } from "@remix-run/react";'

Which now works for me

[2022-04-12 12:59] machour commented on #543
This is now documented in chakra ui (https://github.com/chakra-ui/chakra-ui-docs/pull/412) so I'm closing this one.

[2022-04-12 12:59] #543 closed

[2022-04-12 13:04] machour commented on #89
Closing in favor of #211 that yields a better explanation

[2022-04-12 13:04] #89 closed

[2022-04-12 15:48] mailok commented on #2691
Looks like `v0.0.0-experimental-9aba8b51` is failing also in `@headlessui/react`
If it helps at all, these are the my dependencies:

[code]

[2022-04-12 15:55] mcansh commented on #2691
weird, my screenshot above has headlessui working, I'll take another look!

[2022-04-12 15:57] mcansh commented on #2691
this appears to be a slightly different issue, each sub import (solid/outline) have their own package.json with _no_ information in them [https://github.com/tailwindlabs/heroicons/blob/master/scripts/build.js#L112-L113](https://github.com/tailwindlabs/heroicons/blob/master/scripts/build.js#L112-L113) I'll see if we can make something work 🥴

[2022-04-12 16:19] weyert commented on #1193
Yeah, I have a similar issue. Not sure what's going internally with Remix. I haven't looked closer at it. Can't imagine it's a PNPM issue

[2022-04-12 16:30] mattoni commented on #2050
I think that would be extremely helpful. Some hosts utilize ipv6 routing and I can't bind to an IPv6 address using remix right now that I'm aware of.

[2022-04-12 17:27] Rocinante89 commented on #1193
@weyert are you deploying to vercel?

[2022-04-12 21:36] machour commented on #2691
@mcansh please cut us a new experimental release when you have time so that we can validate the fix and ship it in 1.3.6 🙏

[2022-04-12 22:03] mcansh commented on #2691
`v0.0.0-experimental-a04f3d18` is on the way https://github.com/remix-run/remix/runs/5998229731?check_suite_focus=true

[2022-04-12 22:07] mcansh commented on #2691
here's heroicons being used
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/11698668/163062592-26c44342-85fc-4b14-b6a7-bf23179d9567.png">

and a build not exploding
<img width="800" alt="image" src="https://user-images.githubusercontent.com/11698668/163062659-8074edf0-b617-42ac-9853-867a0ac3a6d6.png">

[2022-04-12 23:52] dcramer commented on #1587
Just to chime in here, this is also something that would be an appropriate entry point for functionality like Sentry to inject itself on the server. I think the pattern of having something like `middleware.server.tsx` and `middleware.client.tsx` could function here as its fairly easy know whats going on at that rate.

Since folks are contrasting to Next.js, I will say that their approach to middle

[2022-04-13 02:03] mzaatar commented on #1898
following this as I have the same issue here

[2022-04-13 06:36] hantusk opened #2773 "`remix.config.js` seems to not support devServer directives mitigating CORS issues in local dev"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

In `remix.config.js` add `devServer` config to set up a proxy to mitigate CORS issues when sending requests to other microservices in a local environment.

`remix.config.js` looks like this:
[code]

Run `npm run dev` in shell. It opens your Remix app at http://localhost:3000.
Send a request to http://localhost:3000/searchserv

[2022-04-13 06:52] hantusk commented on #2773
Giving this a think more, i might not be designing my pattern here to Remix conventions. I suspect if i make a `<Form>` instead, and run the `fetch` call on the server side, i won't have CORS issues.

Of course creating this feature and its directives in the "Remix App Server" has other benefits (easy incremental ports of existing React apps and perhaps some other problems), i will re-write it to

[2022-04-13 08:06] alekpentchev commented on #2726
No problem, good to hear that you've managed to solve your problem :)

[2022-04-13 09:05] machour commented on #2691
I can confirm that `v0.0.0-experimental-a04f3d18` fixes all my issues 🎉

@mailok @ianduvall would you mind giving this a try?

[2022-04-13 09:24] garth commented on #2691
I've just tested with `v0.0.0-experimental-a04f3d18`, though there are a lot less than before, I still have build errors:

[code]

[2022-04-13 10:47] Elijah-trillionz commented on #1032
It's been 4 months now, just wondering if there is any progress on this we could track.
I recently just cloned the remix example and I still get the same error. Just hoping a solution comes up soon

[2022-04-13 10:53] ZetraDev opened #2774 "Consuming actually all CPU resources"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

Run `remix dev` / make it reload

### Expected Behavior

Not consuming many CPU resources

### Actual Behavior

It consuming actually all CPU resources (showing 90%+ utilization in task manager) when build / rebuild, which cause editor not response

[2022-04-13 13:08] machour commented on #2774
Can you share a bit more information about your setup ? Os, RAM, etc ..

[2022-04-13 13:17] DAlperin opened #2776 "LiveReload breaks production with react 18"
### What version of Remix are you using?

1.3.4

### Steps to Reproduce

1. Have an app
2. Develop app in development mode
3. Switch to production (`cross-env NODE_ENV=production remix-serve build`)
4. LiveReload breaks the render resulting in a blank screen

### Expected Behavior

LiveReload should not break production

### Actual Behavior

The screen flashes the correct content (I think probably

[2022-04-13 13:28] DAlperin commented on #2776
Gating it with `{process.env.NODE_ENV === "development" ? <LiveReload /> : null}` works but the docs say that it is fine to leave in since it will only do anything in development. If that is no longer true, the docs should probably be updated to reflect that.

[2022-04-13 13:29] machour commented on #2776
You mean hydration right? LiveReload shouldn't be involved at all in production

[2022-04-13 13:30] DAlperin commented on #2776
When hydrating in a production build the problem is present. When hydrating in a development build, there is no issue.

[2022-04-13 14:13] mcansh commented on #2691
it appears that "encoding" is not installed 🤔 - installing it seems like a workaround, as they have a try/catch for it in usage, but if you want to use that experimental (or 1.4.0-pre.0) that should be sufficient until i can see what's up :)

[2022-04-13 16:48] isaacs commented on #2373
Anyone finding this, you can add this to your `package.json` file:

[code]

and then run `npm update`, and the problem is gone.

The breaking changes in meow 4 -> 7 were mostly just dropping old node versions and changing `hard-rejection` to `loud-rejection`, but chalk-animations doesn't use that feature anyway.

[2022-04-13 17:04] isaacs opened #2781 "`--no-typescript` not quite 100% there"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

[code]

Then try to `npm run dev` in the app it creates.

### Expected Behavior

It should start the dev server.

### Actual Behavior

Complains about a bunch of stuff:

- `server.ts` is missing
- `prisma seed` command fails because `prisma/seed.ts` is actually `prisma/seed.js`
- many problems with trying to use `import` in c

[2022-04-13 17:30] MichaelDeBoey commented on #2373
https://github.com/remix-run/remix/pull/2547 is merged, so it will be released when `3.4.0` gets released.
Once that's done, we'll update the `package-lock.json` of all stacks, which should fix these warnings

[2022-04-13 20:45] AndlerRL commented on #2261
I've been playing with the example for a brief time and saw this error too.

First, Emotion on SSR (as styled-components) injects all the styles after reading the requested components so the server understand what to render and finish the job. This means that the styles that we create it's being send to the server and then to the browser.

By knowing that, every time that we assign `emotionCache.s

[2022-04-13 21:51] jasonabullard opened #2792 "Multiple errors after upgrade to 1.3.5"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

Note: You must have created a firebase application and downloaded the service account json file, as well as adding ```GOOGLE_APPLICATION_CREDENTIALS="serviceAccount.json"``` to a ```.env``` file

1. Create new remix package ```yarn create remix firebase-remix``` using the Remix App server
2. Install firebase-admin ```yarn add

[2022-04-13 22:40] nareshbhatia commented on #1193
@Rocinante89 I am using npm. Here's my repo: https://github.com/nareshbhatia/flexible-react-stack

[2022-04-14 00:06] nareshbhatia commented on #1193
I just found this turborepo example in the examples folder: https://github.com/remix-run/remix/tree/main/examples/turborepo-vercel. Unfortunately it has the same behavior - changing ui does not reflect immediately in remix app.

As a side note, yarn workspaces seems to need a version number in apps & packages to accept them as a workspace. The above example does not have version numbers in remix a

[2022-04-14 03:06] jasonabullard commented on #2792
So I was finally able to track this down and it all stems from firebase-admin not export package.json.

[code]

Doing this fixes the errors. However, I'm not sure why it all of sudden broke when the two have been working fine over the last few weeks.

[2022-04-14 04:19] yelban commented on #667
`npm run dev` can be started normally using [remix-cf-buffer](https://github.com/aiji42/remix-cf-buffer) with Prisma Data Proxy, but there will be a warning message

![截圖 2022-04-14 下午12 10 39](https://user-images.githubusercontent.com/981381/163312749-f08d9dbd-d8fe-4fee-870e-c4ec65dc2b6f.png)

[2022-04-14 08:47] machour commented on #2792
1.3.5 introduced a bug that should be fixed in the upcoming release. Can you try the experimental release mentioned in #2691 and tell us if it fixes your issue?

[2022-04-14 09:29] nullpaper commented on #442
+1 on the SolidJS port.

The word you're looking for is "squatted" not "started".

[2022-04-14 09:57] jasonabullard commented on #2792
Awesome, can confirm that the experimental fixes the issue for firebase-admin.

[2022-04-14 09:57] #2792 closed

[2022-04-14 14:11] shortnd opened #2798 "npx create-remix@latest downloading remix repo"
### What version of Remix are you using?

latest

### Steps to Reproduce

npx create-remix@latest
select just the basics
name folder `my-remix-app`
wait for npm to install
cd my-remix-app

### Expected Behavior

Should be a bare bones remix template, with basic setup

### Actual Behavior

It looks to be downloading and installing the remix repo its self, with all the examples and tests. Instead of

[2022-04-14 14:38] MichaelDeBoey commented on #2491
Closed by #2733

[2022-04-14 14:38] #2491 closed

[2022-04-14 14:38] MichaelDeBoey commented on #2798
https://github.com/remix-run/remix/pull/2733 will fix this in the next release

[2022-04-14 14:38] #2798 closed

[2022-04-14 15:48] FrecksterGIT opened #2801 "Github-Token missing from template validation call"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

When trying to use a stack from a private GitHub repository the template validation step fails.

The authentication header is missing:
https://github.com/remix-run/remix/blob/7492b9beabb75f2f3af108942253e0a28b57c1ef/packages/remix-dev/cli/create.ts#L446

### Expected Behavior

Private Stacks should work out of the box.

### A

[2022-04-14 15:53] FrecksterGIT commented on #2715
The action method is only called for POST requests. In your error report you use `fetcher.submit(formData)` which results in a GET-Request. Changing it to `fetcher.submit(formData, { method: "post" })` should do the trick.

[2022-04-14 16:20] oliverjam commented on #1019
Yeah I'm still struggling with the exact same problem on latest Remix (`v1.3.5`). It's pretty easy to reproduce this: the "Nested Catch Boundaries" section of the [Not Found](https://remix.run/docs/en/v1/guides/not-found) docs doesn't work.

[Reproduction on Stackblitz](https://stackblitz.com/edit/node-r7alz9?file=app%2Froutes%2Fpages%2FpageId.jsx). This is pretty much the official example with a

[2022-04-14 18:36] pcattori commented on #2402
Started running into this on Deno v1.20.5.

[2022-04-14 18:41] garth commented on #2691
Unfortunately v1.4 still has the same issue. I am travelling for Easter, but will try to make a reproduction when I return. Please leave this issue open.

[2022-04-14 18:42] machour commented on #2691
@garth is the issue related to `encoding` from Prisma? Safe travels!

[2022-04-14 18:45] garth commented on #2691
Yes, it seems to originate from prisma, but when I revert remix back to v1.3.4 there are no build errors.

[2022-04-14 18:46] hrgui commented on #2570
Something that I've been wondering about:

[code]

I don't think it's a good idea to hydrate the entire document because for chrome extensions that modify the DOM (e.g. Apollo Client DevTools, LastPass, Dark Reader), they will add / change the DOM significantly by injecting CSS / JS.

[2022-04-14 18:47] garth commented on #2691
Not sure if it's helpful, but these are my dependencies:

[code]

[2022-04-14 19:16] mcansh commented on #2691
experimental coming up!

[2022-04-14 19:29] garth commented on #2691
@mcansh Looking good! The build runs now. I still have some ESM package warnings I didn't have before, but maybe they are genuine, so I will investigate those further.

[2022-04-14 19:59] garth commented on #2691
So it's building now, but with a couple of warnings still.

I have added all packages that had ESM warnings to `serverDependenciesToBundle`, but `lib0` is still shows a warning even after being added. And the `encoding` dependency warning is still there. Also some of the dependencies are client side only but I added them all to clear the warnings (eg `y-indexeddb`).

[code]

[code]

But if I ignor

[2022-04-14 20:22] #2402 closed

[2022-04-14 20:45] filipemir opened #2810 "Ability to override scroll restoration without conditionally rendering the `ScrollRestoration` component"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

Issue is reproduced here: https://codesandbox.io/s/remix-unwanted-scrolling-ljr1vb

1. Scroll down to the bottom of the page where there is a button and a link
2. Click on either the button or the link

### Expected Behavior

The button and the link click is reflected in the the search param of the page's URL, and the user ca

[2022-04-14 20:55] franzwarning commented on #1616
Seeing this as well

[2022-04-14 22:48] danestves commented on #2570
I have the same problem with `cypress` ended up doing this workaround

[code]

[2022-04-14 23:39] konsumer opened #2813 "Buffer is not defined"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

- setup a remix cloudflare-worker project with mantine or any other library that uses Buffer. I followed the remix directions on the mantine site.
- `remix build`: works fine
- `wrangler publish `: fails

I can make a demo project that fails, if you want to try to deploy it to your own cloudflare.

### Expected Behavior

Shou

[2022-04-15 00:03] konsumer commented on #2813
Here is my [related mantine issue](https://github.com/mantinedev/mantine/issues/1033). I am having a bit of trouble figuring out who to report it to, or where I could even work on a PR to fix the problem.

I made a [demo project here](https://github.com/konsumer/remix-2813), but couldn't even get it started using everyone's "getting started" directions, and remix-esbuild-override stopped working (

[2022-04-15 00:09] konsumer commented on #2813
[Related Discussion](https://github.com/remix-run/remix/discussions/2437)

[2022-04-15 01:27] mryechkin commented on #2781
Running into the same issue with the Indie Stack as well: `Error: Cannot find module './seed.ts'`

[2022-04-15 06:31] michael-marid commented on #1601
If you are using vs code (windows), you could do the following:

1.  Install Remote - WSL extension
2.  Open the green connection button (down-left) to connect to the distro (ex. Ubuntu).
3.  Git clone your project there and use the docker-compose file or run the server.

[2022-04-15 08:57] machour commented on #2691
@garth I allowed myself to revert the title change so that users revisiting this issue in the future are not confused, as most issues described were fixed in 1.4.0

Ideally we'd open a new issue to track 1.4.0 problems, but that's not really required here since we're almost done :)

[2022-04-15 10:39] a3diti commented on #2230
Same problem, always exits only when max file size is exceeded
[code]

[2022-04-15 11:00] a3diti commented on #2230
Confirmed, if I comment line 83 `throw error;` I can properly catch the error when `maxFileSize` exceeds.

My temporary fix is patching this line locally with [patch-package](https://www.npmjs.com/package/patch-package)

`patches/@remix-run+node+1.3.5.patch`
[code]

[2022-04-15 16:06] manV commented on #360
I am using fetcher to load data periodically on a page to refresh it with latest information from the server. I am not sure how to handle network errors in this case. Currently if the browser goes offline while refresh is in progress, the error thrown is caught by error boundary, but in this case I would still like to show user the stale data. I am not sure if I am doing things in the "Remix way"

[2022-04-15 16:52] ttatoni26 opened #2820 "npx create-remix@latest is not working"
### What version of Remix are you using?

latest

### Expected Behavior

Create a remix app

### Actual Behavior

Getting the error: `Creating your app…🚨 The provided template must be a Remix project with a package.json file, but that file does not exist in ...`

[2022-04-15 16:58] machour commented on #2820
Hi, are you using windows ?

[2022-04-15 18:12] ttatoni26 commented on #2820
Yes

[2022-04-15 18:13] assoft commented on #2820
I am also getting error... I can confirm that this error has nothing to do with package managers. I have no problem installing other applications.

![ss](https://user-images.githubusercontent.com/835239/163606060-c4a7e3c6-73fd-4355-b649-56a71d5f3c86.png)

[2022-04-15 18:17] ttatoni26 commented on #2820
@assoft
You typed: "reate-remix"

[2022-04-15 18:20] assoft commented on #2820
Owww shittt 🫢.

[2022-04-15 18:29] lukeshiru commented on #109
Is there anything we can do as a community to help Remix have support for ESM modules? From a framework like this that advocates for using standards, the expectation from the community is for it to support ESM modules without any workarounds. We should be able to just do:

[code]

And it should just work™. Maybe a first good step would be to make remix itself an ESM module (`"type": "module"`) and

[2022-04-15 18:47] Girish21 commented on #109
@lukeshiru Remix already exports ESM modules for the browser bundle. The problem is with the server bundle. Still, Node's ESM vs CJS situation is a bit iffy, and lots of dependencies still don't support native ESM yet. Remix has a workaround, though; you can list the ESM only packages to be compiled to CJS during the build for the server bundle using [serverdependenciestobundle](https://remix.run/

[2022-04-15 19:01] ryanlabouve opened #2821 "Cannot run Remix applications on a port > 3100."
### What version of Remix are you using?

^1.2.3

### Steps to Reproduce

[code]

### Expected Behavior

Remix server starts

### Actual Behavior

[code]

Introduced by https://github.com/remix-run/remix/commit/39d0dbf5c4ce102a9ba9448c8854bd465309803e.

[2022-04-15 19:03] ryanlabouve commented on #2821
I'd be happy to fix this by adjusting [this](https://github.com/remix-run/remix/commit/39d0dbf5c4ce102a9ba9448c8854bd465309803e#diff-f63e3a7b23edb5474980c4253ebbbf0810018688ed15afcbb1010652513f3c4aR245) to something like:

[code]

[2022-04-15 19:07] lukeshiru commented on #109
@Girish21 thanks a lot for that `serverDependenciesToBundle` option. I was looking for something like that and couldn't find anything! ... I understand Node's limitations with CJS/ESM (one of my personal packages is still in CJS because ESLint, Prettier and similar packages haven't migrated yet to ESM), but as I mentioned in my previous comment, is kinda weird to have to update a config in `remix.

[2022-04-15 20:26] wanradt opened #2823 "Blog tutorial at Loading data does not import from right modules"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

https://remix.run/docs/en/v1/tutorials/blog#loading-data

has:

`import { Link, json, useLoaderData } from "remix";`

### Expected Behavior

I expected it to work fine, but for every imported function I got on console error:

[code]

### Actual Behavior

Actual **solution** for me was importing like that:

[code]

[2022-04-15 22:07] machour commented on #2820
Duplicate of #2714

[2022-04-15 22:07] #2820 closed

[2022-04-16 06:06] codejet commented on #109
@Girish21 the thing is, that for some packages the `serverDependenciesToBundle` option also didn't seem fix the issue (see https://github.com/remix-run/remix/issues/109#issuecomment-1047146581)

[2022-04-16 06:10] Girish21 commented on #109
@codejet yup, Remix does not know the dependency graph of modules included in `serverDependenciesToBundle`. For now, we have to manually add it as shown in this example [stackblitz](https://stackblitz.com/edit/node-ydjuwx?file=remix.config.js)

[2022-04-16 06:23] codejet commented on #109
@Girish21 thanks, but could you elaborate on that? what apart from adding the dep to `serverDependenciesToBundle` is actually happening there?

[2022-04-16 08:00] garth commented on #2691
Spent a bit more time on this today. I think the last remaining warnings are related to pnpm not hoisting packages.

Adding lib0 (which is required by yjs) with a regex `/lib0/` instead of `'lib0'` in serverDependenciesToBundle and adding a top level dependency on `'encoding'` (which is required by prisma) seems to have fixed the remaining issues.

Whilst I'm happy to have this working again, I'm

[2022-04-16 08:10] #2691 closed

[2022-04-16 09:06] FrecksterGIT commented on #2619
I can reproduce this on Firefox 99.0.1 (64-Bit) on Windows 11.

[2022-04-16 11:14] ivosabev opened #2826 "1.4.0 breaks GraphQL"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

Excerpt from package.json

[code]

### Expected Behavior

No errors :)

### Actual Behavior

This is the error I get:
[code]

The error happens when I call `printSchema` from `graphql`

Downgrading to 1.3.4 fixes the issue.

[2022-04-16 12:13] silvenon commented on #2823
Not a bug, read the [release notes for v1.4.0](https://github.com/remix-run/remix/releases/tag/v1.4.0).

[2022-04-16 12:16] silvenon commented on #2823
Oh, but you're right that the docs need to be updated in the relevant places.

[2022-04-16 13:01] TheKnarf opened #2828 "Can't run `npx create-remix@latest` with `.` current directory"
### What version of Remix are you using?

npx create-remix@latest

### Steps to Reproduce

[code]

### Expected Behavior

For it to work with the current directory when that directory is empty

### Actual Behavior

It refuses to do so.

[2022-04-16 13:26] mcansh commented on #2691
we made some changes to help users more easily detect which packages to add to serverDependenciesToBundle, but unfortunately that came with a bunch of added complexity and causes some things to break, i think we’ll rollback the changes there

[2022-04-16 17:57] ttatoni26 commented on #2828
I am having the same issue.

[2022-04-16 22:02] vieira commented on #2821
Can confirm, it is easy to reproduce by running, e.g., `env PORT=8000 npm run dev`, which will produce:

[code]

[2022-04-17 01:41] gregbty opened #2832 "Action methods ignored for index routes"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

1. Create a bare remix project
2. Add `test/index.tsx` under `routes` and paste the following code:

[code]

3. Update `index.tsx` in `routes` with the following code:

[code]

4. Run the app and click on the "Submit" button on the root index page

### Expected Behavior

Browser redirects back to the index page.

### Actual B

[2022-04-17 02:50] harrisrobin opened #2833 "Cannot get threejs working with remix run, despite ClientOnly & .client"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

Clone and run the following repo: https://github.com/harrisrobin/remix-run-three

### Expected Behavior

I would expect remix to be able to work with a library such as three, especially when using <ClientOnly> and .client extension.

### Actual Behavior

If you try to load a file that uses threejs, you will encounter the foll

[2022-04-17 03:43] eldarshamukhamedov commented on #2821
@ryanlabouve that works. I run dev servers on ports 10000+ 😅

[2022-04-17 09:42] codthing commented on #2356
+1

[2022-04-17 09:48] codthing commented on #2714
I don't understand why it's not friendly to Window users, it seems that only Apple is you guys choice.

[2022-04-17 10:58] MichaelDeBoey commented on #2826
@ivosabev Can you please create a minimal reproduction with as little as possible/needed dependencies?
This will make it easier for the team to find out where the problem could be.

[2022-04-17 13:47] kentcdodds commented on #2714
This is a bug. It's not intentional. It will be fixed.

[2022-04-17 14:05] chaance commented on #2356
We are tracking all Windows issues in https://github.com/remix-run/remix/issues/2714 and we have a [WIP branch](https://github.com/remix-run/remix/tree/chance/test-windows) that will resolve them. Follow #2714 for updates!

[2022-04-17 14:10] machour commented on #2832
You need to target `/test?index`

#2808 will enhance the documentation for this behavior

[2022-04-17 14:10] #2832 closed

[2022-04-17 14:56] mmattbtw commented on #2714
I'd recommend just using WSL for the meantime.

[2022-04-17 15:06] aiji42 commented on #667
https://github.com/aiji42/remix-esbuild-override/tree/main/examples/prisma-cloudflare

[2022-04-17 16:09] chaance commented on #15
Closing the issue but feel free to add a comment here when/if you're able to get the PR in!

[2022-04-17 16:09] #15 closed

[2022-04-17 17:13] neverstew opened #2835 "Setting HOST environment variable with anything other than a legitimate host prevents the server from running"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

1. Set `HOST` envrionment variable to anything that is an invalid hostname. An example: `http://localhost:3000`
2. Run the server

### Expected Behavior

The server to run as usual.

### Actual Behavior

[code]

[2022-04-17 17:14] matt-l-w commented on #2835
FWIW - I think this is just a documentation issue. There's nothing about reserved environment variables that the server runtime relies on etc.

[2022-04-17 17:41] machour commented on #2832
Documentation updated, please refer to https://remix.run/docs/en/v1/guides/routing#what-is-the-index-query-param

[2022-04-17 17:45] nareshbhatia opened #2836 "remix 1.4.0 breaks integration with turborepo & workspaces libraries"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

Here's my sample repo which is working with remix 1.3.5: https://github.com/nareshbhatia/custom-react-stack.

Build & run to make sure everything is working ok:

[code]

Point your browser to the remix app at http://localhost:3002/.

Now change remix dependencies to 1.4.0 in `apps/movie-magic-remix/package.json`. Do a clean b

[2022-04-17 19:03] kamtugeza commented on #866
...and 2 more cents from me 🤠

For some reason, the `markup` variable in `app/entry.server.tsx` doesn't contain `<LiveReload />`. Looking at the [LiveReload](https://github.com/remix-run/remix/blob/6ba9269799d09fdc6804cf2d24f315dccaa9530c/packages/remix-react/components.tsx#L1397) declaration, the problem is in the environment variable `NODE_ENV`.

Unfortunately, playing with that variable doesn't

[2022-04-18 01:48] fergusmeiklejohn commented on #1616
I've seen this sort of behaviour too: useFetcher() doesn't always call the loaders when I redirect

[2022-04-18 04:01] wyemun commented on #2697
I have encountered this as well. Page reload upon receiving the http status..

[2022-04-18 04:44] gregbty commented on #2832
Thanks!

[2022-04-18 06:48] yelban commented on #667
Thank you @aiji42
I used this method on remix cloudflare-pages and unfortunately the run still has error messages

1. Add patches to the project directory
2. npm i patch-package
3. npm i remix-esbuild-override esbuild-plugin-alias @esbuild-plugins/node-globals-polyfill
4. npm i @prisma/client
5. npm i -D prisma

update prisma/schema.prisma
`
generator client {
  provider = "prisma-client-js"
  pre

[2022-04-18 13:51] #2715 closed

[2022-04-18 14:37] brophdawg11 commented on #1616
Looks like we missed one conditional for the revalidation, this should be fixed by https://github.com/remix-run/remix/pull/2838

[2022-04-18 15:37] mcansh commented on #2821
sorry folks! totally my fault and @ryanlabouve fix is what i actually wanted 😅

[2022-04-18 16:51] #2821 closed

[2022-04-18 17:38] #1616 closed

[2022-04-18 17:48] xingxinglieo commented on #2697
i have the same problem... but it didn't reload before two months ago.

[2022-04-18 18:23] chaance commented on #2714
Anyone on Windows able to give the latest pre-release a run and see if it fixes your issues?

[code]

[2022-04-18 18:45] washedupdeveloper commented on #2714
I am able to get it working just fine, having created the remix app server deployment option.
![image](https://user-images.githubusercontent.com/31986015/163858457-d6de7efd-742b-4cd5-aa76-2ca2d276ab1f.png)

[2022-04-18 18:47] leefisher commented on #2714
I still have similar issue
C:\Code>npx create-remix@1.4.1-pre.1
Need to install the following packages:
  create-remix@1.4.1-pre.1
Ok to proceed? (y) Y
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated rollup-plugin-inject@3.0.2: This package has

[2022-04-18 19:03] marwan38 commented on #2836
Same issue, I am installing a dependency using the fs resolution `package: "file:../../package"`. Pinning to 1.3.5 fixed it.

[2022-04-18 19:06] machour commented on #2774
Would you mind testing with 1.4.0 ?
AFAIK you're the only user with this problem, so it's kind of hard to pinpoint the issue..

[2022-04-18 19:14] severomerfaruk commented on #2828
I'm having the same issue. how to fix it?

[2022-04-18 19:20] dylanblokhuis opened #2844 "useFetcher load method doesn't work on routes that are using "index.ts" or "index.tsx""
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

Reproduction repo: https://github.com/dylanblokhuis/remix-use-fetcher-issue

- Create a nested route in a folder and call it `index.ts` or `index.tsx` e.g. `app/routes/some-route/index.ts`
- Create some route that uses `useFetcher` in the following fashion:
[code]

- Open the network tab and see that no errors are thrown and

[2022-04-18 19:38] chaance commented on #2714
@leefisher Can you run it again with `1.4.1-pre.2` and this time pass the `--debug` flag? I want to see what kind of template it works out for you. If you select `Remix App Server` it should log this:

[code]

[2022-04-18 19:45] leefisher commented on #2714
It didn't seem to log that, but I did get this output

[code]

[2022-04-18 20:10] chaance commented on #2714
@leefisher Thanks a ton. Sorry to keep bugging you, but could you try once more with `1.4.1-pre.3`? None of us are able to reproduce the issue so your help is very much appreciated!

[2022-04-18 20:18] leefisher commented on #2714
I'm happy to help!
I don't really see any change here I'm afraid.
[code]

[2022-04-18 20:27] kiliman commented on #2714
@leefisher Just to be sure, do you already have a folder named `remix-jokes`?

[2022-04-18 20:27] mcansh commented on #2714
hm these questions seem out of order/date, the "TypeScript or JavaScript?" question should come after the app is created 🤨

[2022-04-18 20:29] mcansh commented on #2714
i think we changed our order of things to use a remote template before a local one

[2022-04-18 20:31] chaance commented on #2714
@leefisher Yeah the ordering of questions is fishy to me too. Wondering if you have an npx caching issue here. Maybe try clearing it?

[code]

If that doesn't work, you might need to nuke the `_npx` directory altogether (`<ROOT>/npm-cache/_npx` on Windows, I think)

[2022-04-18 20:32] dylanblokhuis commented on #2844
As a temporary solution(or intended?) you can suffix your argument with `?index`:

[code]

[2022-04-18 20:33] kiliman commented on #2714
BTW: It's working for me on Windows
<img width="1282" alt="image" src="https://user-images.githubusercontent.com/47168/163873450-4a7297a0-13a5-4a20-ba2f-f28327f1c1de.png">

[2022-04-18 20:42] dylanblokhuis commented on #2844
I guess it's indended.. sorry. https://remix.run/docs/en/v1/guides/routing#what-is-the-index-query-param

Closing.

[2022-04-18 20:42] #2844 closed

[2022-04-18 20:45] deimyts opened #2845 "1.4.0 breaks module resolution for linked modules"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

1. Create a new remix project using Remix 1.4.0
2. Create a new npm package locally. I'm calling it `my-module` for purposes of documentation in this ticket, but the name doesn't matter.
3. Import your new local package (`my-module`) somewhere in the new remix project (I put it in the index route).
4. run `npm link` in your n

[2022-04-18 20:47] deimyts commented on #2836
I think this might be related to #2845, which I submitted as a separate issue since the use case is a little different, but it looks like the same bug.

[2022-04-18 20:50] leefisher commented on #2714
Thanks for the feedback.
There is currently no remix-jokes folder.
I tried npx clearing cache but no real change.
I'll try deleting cache folder completely.

[code]

[2022-04-18 21:00] leefisher commented on #2714
I clobbered the npm-cache directory.
It installed again but order of questions has not changed.
strange!
[code]

[2022-04-18 21:06] chaance commented on #2714
Thanks @leefisher, and very sorry for the frustration here! We may move forward with the release for others, but I'll keep this open until we can eliminate any issues on our end.

[2022-04-18 21:27] guillaumervls opened #2848 "Some docs & examples use top-level `Date.now()` for cookie expiration"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

(Problem is the docs, see below)

### Expected Behavior

Hi and thanks for the great work on Remix !

In the docs https://remix.run/docs/en/v1/api/remix#using-sessions and in some examples https://github.com/remix-run/remix/tree/main/examples/redis-upstash-session the proposed session storage code uses calls to top-level `Dat

[2022-04-18 21:35] chaance commented on #2714
For everyone else who isn't having issues, I just released `v1.4.1` stable so `npx create-remix@latest` should work as expected moving forward. We also now have tests in place for this so hopefully we won't have any regressions moving forward 😬

[2022-04-18 22:59] machour commented on #2714
@chaance another error-case reported here for the pre-release: https://github.com/remix-run/remix/discussions/2709#discussioncomment-2588823

[2022-04-18 23:54] ZetraDev commented on #2714
I have tried `npx create-remix@latest` and it works for me

[2022-04-19 02:21] xingxinglieo opened #2850 "useFetcher will reload the page with 【@remix-run/react vision 1.4.0】"
### What version of Remix are you using?

@remix-run/react vision 1.4.0

### Steps to Reproduce

[code]
after the response back, the page will reload.

**but it's normal in @remix-run/react vision 1.1.1 !**

### Expected Behavior

return the json in res and page doesn't reload

### Actual Behavior

page reload

[2022-04-19 02:23] chaance commented on #2850
Hello.

I cannot reproduce this bug with the information given. Closing for now but let me know if you can provide a reproduction of the bug with https://remix.new

[2022-04-19 02:23] #2850 closed

[2022-04-19 02:27] chaance commented on #27
Going to close this. We are happy to take PRs to add new examples, but requesting work for third-party platforms is not for the issues tab. Thanks!

[2022-04-19 02:27] #27 closed

[2022-04-19 02:29] #9 closed, assigned to nobody

[2022-04-19 02:30] #26 closed

[2022-04-19 02:31] chaance commented on #178
Closing this now as our approach moving forward will be to use direct imports from the remix scoped package instead of the core module.

[2022-04-19 02:31] #178 closed

[2022-04-19 02:32] #180 closed, assigned to nobody

[2022-04-19 02:34] #179 closed, assigned to nobody

[2022-04-19 02:37] #177 closed

[2022-04-19 02:38] #114 closed

[2022-04-19 02:39] chaance commented on #1291
Closed in https://github.com/remix-run/remix/pull/2271

[2022-04-19 02:39] #1291 closed

[2022-04-19 02:40] #876 closed

[2022-04-19 02:40] #143 closed, assigned to nobody

[2022-04-19 02:42] chaance commented on #154
The fix for this moving forward will be to import modules directly from the correct scoped package rather than the `remix` package. See [v1.4.0 release notes](https://github.com/remix-run/remix/releases/tag/v1.4.0) for details.

[2022-04-19 02:42] #154 closed

[2022-04-19 02:47] chaance commented on #1539
We likely won't be adding new adapters directly to the Remix repo any time soon, but we welcome PRs for new examples!

[2022-04-19 02:47] #1539 closed

[2022-04-19 02:56] chaance commented on #1514
This is correct. `<Form>`, `useSubmit` or `useFetcher` can all post to a route from any component, but you can't post to something that isn't itself a route.

You don't need to handle this in every route. You create one route that handles the newsletter submission in its action, and you can post to that route from anywhere in your app code.

[code]

[2022-04-19 02:56] #1514 closed

[2022-04-19 03:06] chaance commented on #1409
This was fixed at some point but we didn't catch this issue! Quick repro for you: https://stackblitz.com/edit/node-wu7qb4?file=app%2Froutes%2Findex.tsx

[2022-04-19 03:06] #1409 closed

[2022-04-19 03:07] #213 closed

[2022-04-19 03:08] #218 closed

[2022-04-19 03:11] #300 closed

[2022-04-19 03:12] #228 closed

[2022-04-19 03:45] chaance commented on #2488
Dotfiles are already set in the `ignoredRouteFiles` option for all templates, and we don't really want to start up-keeping a list of specific files here. If you need to enable a leading dot in your route for some reason you'll have to update your config accordingly and add whatever patterns you need to keep this from being a problem.

[2022-04-19 03:45] #2488 closed

[2022-04-19 03:52] #1856 closed, assigned to nobody

[2022-04-19 05:41] isaacs opened #2859 "LiveReload doesn't work when TLS is enabled"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

1. Create a server with TLS keys
2. Attach remix route handler to it
3. Load site
4. Error appears in console:

[code]

5. Change files, observe that they are not reloaded live.  (Server rebuilds, but the ws push doesn't work.)

### Expected Behavior

Expect that WebSocket.Server would be able to listen over https somehow.

#

[2022-04-19 06:00] EddyVinck opened #2860 "Socket.io example development server does not connect to socket.io websocket in server/index.js"
### What version of Remix are you using?

1.4.0-pre.2

### Steps to Reproduce

Clone the Remix repo and navigate to the Socket.Io example: https://github.com/remix-run/remix/tree/main/examples/socket.io

Start the app server:

[code]

Run the development server:

[code]

Visit http://localhost:3000, and notice the connected log from the websocket in your terminal.
Then try making a change in the a

[2022-04-19 06:11] sergiodxa commented on #2860
The dev script should run `remix watch` instead so it builds the app without running a server

[2022-04-19 06:16] EddyVinck commented on #2860
Is that all? @sergiodxa

I just tested it with the `watch` command and now everything seems to work fine on localhost:3000

- [x] Connects to websocket, pinging works
- [x] Changes are reflected on the same port

Unless I'm missing something I think this can be closed when a PR changes it.

I can create it and submit the PR.

[2022-04-19 10:19] garth commented on #2737
@clintonwoo I think I might have a similar issue. Does it start working If you remove `serverDependenciesToBundle` entirely from your config?

[2022-04-19 12:13] eran-or commented on #1601
Interesting behavior: When I clone the demo with npx create-remix --template remix-run/indie-stack blog-tutorial
on my local machine the hot reloading works fine but when I use Gitpod then it's not working. so I guess it is something that relate to this (I'm working with mac 2013, in case it's matter)

[2022-04-19 14:37] kiliman commented on #355
Hmm. Why is this closed? It’s still an issue although there is a warning now that you probably shouldn’t expose your source map on production.

I want to fix this so it post-processes the map file and strips server code from the route.

[2022-04-19 14:44] bokub commented on #2373
In case you need `chalk-animation` again, the issues have been fixed in version `2.0.0`, and all dependencies are now up to date.

By the way, none of the security alerts were relevant because the affected functions / modules were not used in `chalk-animation`, but I agree that the alerts were annoying.

Have a good day! :+1:

[2022-04-19 14:44] kiliman commented on #2488
Also leading dot in routes can be escaped `[.]well-known`

[2022-04-19 16:41] mubaraqwahab opened #2868 "`npx create-remix@latest` fails, says that `filePath.replaceAll` is not a function"
### What version of Remix are you using?

The latest (I guess?)... installing Remix fails

### Steps to Reproduce

1. Run `npx create-remix@latest`
2. Answer all the questions until "Do you want me to run `npm install`?"

OS: Windows 10
Node version: 14.17.6

### Expected Behavior

Remix creates a new project.

### Actual Behavior

After answering Yes to the `npm install` question, Remix fails and

[2022-04-19 16:42] chaance commented on #2714
This is because you're running an old version of Node that doesn't support `String.prototype.replaceAll`. We'll fix that in #2867 but I'd recommend using [at least] Node 14 if you can :)

[2022-04-19 16:51] chaance commented on #228
Kent has the power to reopen :) Just cleaning out old issues as we're tracking lots of new feature ideas internally now!

[2022-04-19 16:56] chaance commented on #2868
Fixed in https://github.com/remix-run/remix/pull/2867. Between now and the next release, try using Node v15+ to set up a new project. You can switch back to 14 if needed for running the project.

[2022-04-19 16:56] #2868 closed

[2022-04-19 17:05] mubaraqwahab commented on #2868
Okay, thank you!

[2022-04-19 17:35] julioxavierr commented on #2826
@ivosabev

This is likely happening because you have two versions of GraphQL in your lock file (i.e. `package-lock.json` or `yarn.lock`)

You can either figure out what dependencies need graphql and update them or use a `resolution`:

https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2022-04-19 19:19] chaance commented on #205
The fix here is to install the scoped dependencies directly, as our updated docs and templates recommend. See [release notes for 1.4.0](https://github.com/remix-run/remix/releases/tag/v1.4.0) for details.

[2022-04-19 19:19] #205 closed

[2022-04-19 19:20] chaance commented on #206
Unable to reproduce this with any recent versions. Feel free to reply with a minimal reproduction if you're still having issues.

[2022-04-19 19:20] #206 closed

[2022-04-19 19:21] #211 closed

[2022-04-19 19:21] #202 closed, assigned to nobody

[2022-04-19 19:21] #192 closed, assigned to nobody

[2022-04-19 19:22] #189 closed

[2022-04-19 20:39] #1280 closed

[2022-04-19 20:44] chaance commented on #1186
See https://remix.run/docs/en/v1/guides/envvars

If you are still having issues after reviewing the docs, please create a new issue with a minimal reproduction so we can look into it!

[2022-04-19 20:44] #1186 closed

[2022-04-19 20:47] chaance commented on #1790
We have plans to expand the scope of our compiler to include some CSS processing, but we don't know exactly what that will look like yet. We are considering SCSS but have no immediate plans to tackle it. You'll need to run it directly as a separate process in the meantime.

[2022-04-19 20:47] #1790 closed

[2022-04-19 20:48] chaance commented on #1804
We have plans to expand the scope of our compiler to include some CSS processing, but we don't know exactly what that will look like yet. Closing this for now, though we may open a new issue if and when we decide to implement something like this.

[2022-04-19 20:48] #1804 closed

[2022-04-19 20:50] chaance commented on #1818
Closing, but we will review and work through the changes in #2046

[2022-04-19 20:50] #1818 closed

[2022-04-19 20:51] chaance commented on #1802
Happy to take a PR to address this. Going to close the issue as it's not a top priority in the meantime.

[2022-04-19 20:51] #1802 closed

[2022-04-19 20:57] chaance commented on #1631
@molleweide Have you found the culprit yet? All of the links we render are plain `<a>` tags that validate as expected, as long as your links have content. I can't imagine why any accessibility tool wouldn't be able to identify those.

[2022-04-19 20:58] chaance commented on #1461
Tracking `LiveReload` issues in https://github.com/remix-run/remix/issues/2859

[2022-04-19 20:58] #1461 closed

[2022-04-19 21:02] chaance commented on #1330
This is discussed at length in https://github.com/remix-run/remix/pull/1254#issuecomment-1034475233. Closing as a duplicate.

[2022-04-19 21:09] chaance commented on #1209
We have plans to expand the scope of our compiler, but we're still exploring the implications of that. We do not plan to open it up for plugins in the mean time as implementation details are likely to change often between stable releases. In the mean time, users will need to run processing for things like CSS and MDX as a separate Node process.

[2022-04-19 21:09] #1209 closed

[2022-04-19 21:12] chaance commented on #822
Docs aesthetics are not a top priority at the moment, and we are likely to roll out a refreshed design in the near future anyway. Going to close the issue, but thanks for flagging!

[2022-04-19 21:12] #822 closed

[2022-04-19 21:13] chaance commented on #881
Happy to accept a PR anywhere where you think we can improve the docs. This issue is a bit too broad to be much help so I'm going to close it. Feel free to tag me directly in any PR requests to improve inconsistencies with our docs.

[2022-04-19 21:13] #881 closed

[2022-04-19 21:17] kilinkis commented on #2151
Thank you sir!  🎉

[2022-04-19 21:40] chaance commented on #1654
Not to suggest that this isn't important, but the issue itself isn't very specific and so hard for us to take action on it to close. @ToniMaunde I didn't see a bad link in the jokes tutorial as the one you posted works just fine, but if it's still a problem somewhere please create a new issue or PR that points to the source of the bad link so we can fix it. 🙏

[2022-04-19 21:40] #1654 closed

[2022-04-19 21:59] brophdawg11 commented on #1317
Thanks for the reproduction @sairajchouhan!  This should have been fixed in [v1.3.4](https://github.com/remix-run/remix/releases/tag/v1.3.4) via #2466.  I ran a quick test locally and it looks resolved to me, so I'm going to close this - please let me know if it's still an issue for you

[2022-04-19 21:59] #1317 closed

[2022-04-19 22:02] chaance commented on #1141
We understand these warnings are noisy, but it's not a bug nor is it a problem for your app. We do use these features and you will get the flag as a result. It's on our radar so no need to ping the issue. We'll update when we've made any changes here.

[2022-04-19 22:03] fnimick opened #2896 "Back navigation from ErrorBoundary does not work properly if ErrorBoundary does not include <Scripts />"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

- Clone and run https://github.com/machour/francis-issue (thanks to @machour for helping to investigate this!)
- Navigate from `/` to `/boom` via the link, confirm that the error boundary renders
- Navigate back via browser controls, confirm that the root page correctly renders.
- Navigate to `/boom` via the link, *reload the

[2022-04-19 22:04] chaance commented on #717
We've discussed this at length in other related issues, but we do not plan on opening up our compiler at the moment. Our usage of esbuild is an implementation detail. If there's anything specific missing that you can't currently do without it, we're happy to consider requests for specific features that could help you avoid digging into our compiler.

[2022-04-19 22:04] #717 closed

[2022-04-19 22:06] machour commented on #2896
Interesting fact: the issue only happens if there's no `<Scripts/>` in the ErrorBoundary 👀

[2022-04-19 22:08] chaance commented on #2564
I'm going to close this again so we can consolidate problems with React 18 to a single issue, as this is very much a WIP already. Let's keep discussion of those issues in https://github.com/remix-run/remix/issues/577

[2022-04-19 22:08] #2564 closed

[2022-04-19 22:12] chaance commented on #538
Closing this, as we will soon be deprecating `remix setup` altogether in favor of direct imports from sub-modules. See the [release notes in 1.4.0](https://github.com/remix-run/remix/releases/tag/v1.4.0) for details.

[2022-04-19 22:12] #538 closed

[2022-04-19 22:13] #416 closed

[2022-04-19 22:14] chaance commented on #348
I believe this should be resolved in recent updates, but please let me know if not and I can take a look with a minimal reproduction!

[2022-04-19 22:14] #348 closed

[2022-04-19 22:16] chaance commented on #683
Our guidance here is to get rid of all imports from `remix` in favor of importing directly from our scoped modules, and this should work with Yarn 3. We now provide a handy migrate script to make this quick and easy! See [release notes for 1.4.0](https://github.com/remix-run/remix/releases/tag/v1.4.0) for details.

[2022-04-19 22:18] chaance commented on #373
I believe we should have marked this resolved when we introduced resource routes! 🎉  Let me know if I misread the issue, but I think that's exactly what you were looking for here.

[2022-04-19 22:18] #373 closed

[2022-04-19 22:19] #319 closed, assigned to nobody

[2022-04-19 22:23] chaance commented on #493
We intend on expanding the scope of our compiler to provide solutions to CSS imports at the component level. In the mean time you'll need to extract these to a stylesheet.

A pattern I've been using is running postcss in parallel with the Remix dev script, and moving the imports from my components into a singular stylesheet I import in the root.

So instead of:

[code]

Do this:

[code]

There are

[2022-04-19 22:23] #493 closed

[2022-04-19 22:24] #226 closed, assigned to nobody

[2022-04-19 22:24] #257 closed, assigned to nobody

[2022-04-19 22:24] #82 closed, assigned to nobody

[2022-04-19 22:26] chaance commented on #1325
Closing as I believe Kent addressed this in our styled components example, but let me know if there is anything else we can do to improve the CSS-in JS story.

[2022-04-19 22:26] #1325 closed

[2022-04-19 22:30] #954 closed

[2022-04-19 22:33] #765 closed

[2022-04-19 22:35] chaance commented on #714
Closing for now, as this is an inevitable issue if you're running multiple processes. `devServerBroadcastDelay` should help, and we'll have more to say on DX improvements here in the not-too-distant future.

[2022-04-19 22:35] #714 closed

[2022-04-19 22:35] #379 closed, assigned to nobody

[2022-04-19 22:36] chaance commented on #380
We are suggesting that folks move away from running `remix setup` altogether in favor of direct module imports, and we now have a script to help ease the transition. See our [release notes for 1.4.0](https://github.com/remix-run/remix/releases/tag/v1.4.0) for details.

[2022-04-19 22:36] #380 closed

[2022-04-19 22:37] #387 closed, assigned to nobody

[2022-04-19 22:37] #420 closed, assigned to nobody

[2022-04-19 22:38] #374 closed, assigned to nobody

[2022-04-19 22:39] #358 closed, assigned to nobody

[2022-04-19 22:40] #360 closed, assigned to nobody

[2022-04-19 22:41] #243 closed

[2022-04-19 22:41] #220 closed

[2022-04-19 22:43] machour commented on #2896
Opened a bug-report PR at #2919.
Oddly enough, the bug fails with or without `<Scripts />` in the boundary

[2022-04-19 22:44] #141 closed, assigned to nobody

[2022-04-19 22:45] #800 closed

[2022-04-19 22:46] chaance commented on #52
Hi! I'm not a bot, but I'm closing out old issues that have long grown stale and are likely not up-to-date with recent versions. Feel free to ping me if this is still an issue and I can reopen.

[2022-04-19 22:46] #52 closed

[2022-04-19 22:46] #71 closed, assigned to nobody

[2022-04-19 22:47] chaance commented on #132
Hi! I'm not a bot, but I'm closing out old issues that have long grown stale and are likely not up-to-date with recent versions. Feel free to ping me if this is still an issue and I can reopen.

[2022-04-19 22:47] #132 closed

[2022-04-19 22:47] #282 closed, assigned to nobody

[2022-04-19 22:48] chaance commented on #234
Closing since you can now do this with resource routes 🎉

[2022-04-19 22:48] #234 closed

[2022-04-19 22:51] chaance commented on #330
Closing since we are moving away from magic imports and now have a migrate script to handle this for you 👍

[2022-04-19 22:51] #330 closed

[2022-04-19 22:53] chaance commented on #1083
Hi! I'm not a bot, but I'm closing out old issues that have long grown stale and are likely not up-to-date with recent versions. Feel free to ping me if this is still an issue and I can reopen.

[2022-04-19 22:53] #1083 closed

[2022-04-19 22:54] chaance commented on #484
Hi! I'm not a bot, but I'm closing out old issues that have long grown stale and are likely not up-to-date with recent versions. Feel free to ping me if this is still an issue and I can reopen.

[2022-04-19 22:54] #484 closed

[2022-04-19 23:03] kiliman commented on #1818
The way I do it is I added a special route in my Express adapter `/build/__purge` that does the actual purge.

Then in my `<LiveReload/>` I patched it to call that route before doing the reload.

[code]

[2022-04-19 23:17] cdeutsch commented on #529
Also make sure `@remix-run/serve` is in your regular dependencies (not just dev dependencies)

Seemed to make a difference on Heroku.

[2022-04-19 23:22] pupudu commented on #1209
@chaance if there are plans to add support, but not ready yet, can we keep the issue open? Thanks.

[2022-04-20 00:06] JorgeMadson commented on #2781
I got the same error, but I don't know where it comes from?
Is an error related to npm run setup? https://github.com/remix-run/blues-stack/blob/main/package.json#L21

[2022-04-20 00:40] chaance commented on #1209
@pupudu We would like to keep issues reserved for bugs and features that are actively in progress. Discussions are a great place to share ideas for new features and get feedback before we decide to move on anything.

[2022-04-20 00:41] MichaelDeBoey commented on #2781
I've created https://github.com/remix-run/indie-stack/pull/63, https://github.com/remix-run/blues-stack/pull/57 & https://github.com/remix-run/grunge-stack/pull/50 in order to fix this.

Closing this issue as it can be tracked in the stack repos itself now

[2022-04-20 00:41] #2781 closed

[2022-04-20 00:55] JorgeMadson commented on #2781
Thank you @MichaelDeBoey I was trying to figure out how to fix this, I will read your code to understand it.

[2022-04-20 01:14] fergusmeiklejohn commented on #373
Resource routes sort of solve it in another way, and perhaps make the suggestion less valuable.
I still think that a way to bring data loading and mutation down to the component level would be useful.
I'd like to be able to fetch only the data that has changed not the whole route, and I'd like to be able to co-locate component code with loader and action for that component.

[2022-04-20 03:45] chaance commented on #373
This has come up a few times with various ideas. I'll move this over to discussions so we can try to consolidate until we come up with a solution here.

[2022-04-20 06:09] lensbart commented on #683
@chance This is has not been fixed — I still get an error when running `yarn dlx create-remix@latest`:

[code]

This may be solved by using `require.resolve("jscodeshift/bin/jscodeshift")` instead, as mentioned [here](https://github.com/remix-run/remix/pull/1316#issuecomment-1094812834). That PR may include other fixes required for Yarn PNP.

[2022-04-20 06:32] ZetraDev opened #2927 "process not defined"
### What version of Remix are you using?

1.3.5

### Steps to Reproduce

use process inside a component like below:
[code]

### Expected Behavior

Should be work as it work before

### Actual Behavior

Somehow it start throwing `process is not defined`

[2022-04-20 06:37] #2927 closed

[2022-04-20 06:38] chaance commented on #683
@lensbart Thanks for flagging, we'll take a look 👍

[2022-04-20 07:34] ivosabev commented on #2826
I do not think that is the case. Here is my graphql dependency graph:
[code]

Also this error does not exist on `1.3.4`.

Unfortunately I do not have the ability to create a simple test project, because the codebase is too big and it will take me forever to simplify it.

[2022-04-20 07:41] machour commented on #2826
Is the dependency graph you're showing the one you get when upgrading to 1.4.0 or with 1.3.4 ?

[2022-04-20 08:05] ivosabev commented on #2826
It is not changing between updates, it is the same for 1.3.4 and 1.4.1

These are the remix packages I am upgrading.
[code]

[2022-04-20 10:07] revelt commented on #1317
good job @brophdawg11 !

[2022-04-20 10:59] garth opened #2930 "Adding serverDependenciesToBundle causes build not to find other modules"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

When a warning is shown that a package needs to be added to `serverDependenciesToBundle`, I add the package the config. But then the build fails on every other dependency with "Cannot find module".

[code]

Removing the `serverDependenciesToBundle` from the config fixes the build but shows ESM warnings.

I am installing depen

[2022-04-20 11:02] garth commented on #2930
Reverting back to v1.3.4 and there are no ESM warnings and the build works without `serverDependenciesToBundle`.

[2022-04-20 12:10] ahmed1107 commented on #1601
Im experiancing the same using windows server

[2022-04-20 13:31] aiji42 commented on #667
@yelban
I have read the prisma implementation and these codes are bundled but never actually executed. So you can ignore these warnings.

https://github.com/prisma/prisma/blob/c1d4f6ea4a0499759dcc1e43cc6c846ccb8051a8/packages/engine-core/src/data-proxy/utils/request.ts#L83
https://github.com/prisma/prisma/blob/c1d4f6ea4a0499759dcc1e43cc6c846ccb8051a8/packages/engine-core/src/data-proxy/utils/reque

[2022-04-20 13:53] fguitton opened #2933 "Browser `publicPath` totally ignored in `@remix-run/serve`"
Hello,
I hope you are having a great day !
🌴

### What version of Remix are you using?

1.4.1

### Steps to Reproduce

Create a remix application and set the `remix.config.js` field `publicPath` to something other than `/build/`.
Upon running `remix dev` and accessing the URL in a browser, assets cannot be found.

### Expected Behavior

It should be possible to customize the asset serving path whi

[2022-04-20 14:00] drewkill32 commented on #1601
When I create a new project from the indie-stack on a new Windows machine I still don't have hot reloading working. I can only get it to work using WSL

[2022-04-20 15:12] #41 closed, assigned to nobody

[2022-04-20 15:13] #129 closed, assigned to nobody

[2022-04-20 15:14] chaance commented on #81
This is now possible with the `server` option in the Remix config. https://remix.run/docs/en/v1/api/conventions#server

[2022-04-20 15:14] #81 closed

[2022-04-20 15:19] #97 closed, assigned to nobody

[2022-04-20 15:21] #109 closed

[2022-04-20 15:26] chaance commented on #550
For those still having issues here, it's likely related to using imports from the `"remix"` module without running the `remix setup` script. As @johanwin noticed, importing directly from the sub-module should fix this, and all of our docs/examples/templates now show this usage for reference.

Take a look at our [release notes for 1.4.0](https://github.com/remix-run/remix/releases/tag/v1.4.0) for m

[2022-04-20 15:26] #550 closed

[2022-04-20 15:38] brophdawg11 commented on #1249
Thanks for the reproduction @acd02!  I just pushed a fix for this in #2938 (`prefetch=intent` only for now) so this should be resolved once we get that merged.  But in the meantime if you wanted you could avoid this double-hit using a cache-control header on your loader if the information is safe to cache for a short period

[2022-04-20 15:48] #2860 closed

[2022-04-20 17:45] mstaicu commented on #2859
@isaacs [this](https://github.com/traefik/traefik/issues/7111#issuecomment-1094679207) _might_ help. I'm running a different setup than yours, but I still serve the client via HTTPS and the live reload server has to connect via `wss` due to `https` being used as the protocol

[2022-04-20 17:45] regchiu opened #2943 "Happens "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node." on https://remix.run/"
### What version of Remix are you using?

v1.4.1?

### Steps to Reproduce

1. Convert any language with Google Translate  of Chrome extension.

2. Keep scrolling down

![image](https://user-images.githubusercontent.com/25433868/164290371-f6c2a807-a02c-4691-a060-d37b8dabf5e7.png)

3. Will see errors on the website.

![image](https://user-images.githubusercontent.com/25433868/164290490-715d2337-7f29

[2022-04-20 18:41] intcreator commented on #1601
to clarify the workaround that some other people have suggested, the Remix project needs to be installed in the WSL only portion of the WSL filesystem. it may look like `/mnt/c/Users/[username]/projects/my-remix-app` is in the WSL filesystem but since it's an abstraction of the Windows filesystem it will not work. however, it should work fine if you set up the project in `/home/[username]/my-remix

[2022-04-20 21:41] arpitdalal opened #2946 "npm run build doesn't work"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

clone this repo: https://github.com/arpitdalal/remix-staem and run `npm run build` after installing deps and you should see error like this:
[code]

Versions
node: v16.14.2
npm: 8.5.0

### Expected Behavior

`npm run build` should work

### Actual Behavior

showing errors for node inbuilt modules

[2022-04-21 01:13] RATIU5 commented on #2714
I am getting the same error on Windows when using WSL with the latest release.

[code]

[2022-04-21 03:33] hrgui opened #2947 "[React 18] hydrateRoot(document, <RemixBrowser />) causes app crash with any scripts that modified DOM before hydration"
### What version of Remix are you using?

the main branch of remix (hash a759affafe30c8df27e36f6253a1d9a574ebf18d)

### Steps to Reproduce

Install the Dark Reader Chrome Extension: https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh?hl=en-US

1. Checkout the remix repo (this repo.)
2. Run `yarn playground:new`
3. After finishing, run `yarn dev` in the newly crea

[2022-04-21 04:32] mwood23 commented on #2850
@chaance  This could be me misunderstanding how things work but I'm seeing my page reload on submit of useFetcher too. It causes all the images to render again and janks the page.

https://user-images.githubusercontent.com/13633613/164372518-53865f25-d45a-402f-a532-86aed9045664.mp4

Link: https://stackblitz.com/edit/node-1vlj5i?file=app/routes/index.tsx

[2022-04-21 05:06] hrgui commented on #2947
Note:

Upgrading react-dom/react to v18 and changing hydrate to hydrateRoot is also affected by this bug. I've provided a test repo to use: https://github.com/hrgui/react-18-remix-app

When doing the following changes:

package.json:
[code]

entry.client.jsx:
[code]

[2022-04-21 06:37] ZetraDev opened #2950 "Not working with turborepo"
### What version of Remix are you using?

1.4.0

### Steps to Reproduce

Create new turborepo project, create remix project inside apps, create some custom libraries in packages, import the custom libraries in the component, start remix

### Expected Behavior

no error

### Actual Behavior

throwing error:
[code]
(utils is the custom libraries, not the package from npm)
Here's how i import my libr

[2022-04-21 10:11] wyemun commented on #2697
I have downgraded this to 1.3.0 to work around this for now.

[2022-04-21 11:50] agcty commented on #2833
Have you tried using a regex that matches everything that comes after three as well? Like /three.*/

[2022-04-21 13:42] ZetraDev commented on #2950
i tried switching to npm instead of yarn v3 with node_modules as nodeLinker and still doesnt work

[2022-04-21 15:53] jenseng commented on #2024
Still broken on 1.4.x, the fix (#2027) has been rebased to the latest (new integration test fails on `dev`, passes with the fix)

[2022-04-21 16:31] arpitdalal commented on #2946
This is related to `entry.worker.ts`. I have this script:
[code]
and the bundled file complains about not finding crypto, stream, etc. packages used in `@remix-run/node`

[2022-04-21 16:48] drewdecarme commented on #2248
@chaance Unfortunately, I'm still getting the same issues when trying to follow the emotion example in the examples directory for Remix. I've tried a few of the fixes that you have mentioned before but still experiencing the issue when using emotion.

Do you have any guidance based upon how the emotion example is setup in the docs at the moment?

[2022-04-21 17:18] arpitdalal commented on #2946
Fixed it by changing `import { json } from '@remix-run/node` to `import { json } from '@remix-run/server-runtime` in `entry.worker.ts`

[2022-04-21 17:18] #2946 closed

[2022-04-21 20:30] acairns commented on #207
I hit this also. I managed to get it to work by prepending `/_static` - but not entirely sure if this was going to work when arc deployed.

Instead, I took a similar approach to @cfranklin11.

Documented here: https://remix.run/docs/en/v1/api/conventions#asset-url-imports

[2022-04-21 20:35] acairns opened #2954 "No loader able to handle the import of a .webmanifest file"
### What version of Remix are you using?

1.2.3

### Steps to Reproduce

Create a `manifest.webmanifest` file and import it.

Example contents:
[code]

Then import it:
[code]

### Expected Behavior

It will import the file with the url, like mentioned in the docs:
https://remix.run/docs/en/v1/api/conventions#asset-url-imports

### Actual Behavior

Causes the following error:
[code]

[2022-04-21 20:46] jenseng commented on #2024
So it turns out that the silly hack above breaks `emptyModulesPlugin`'s check (e.g. for `/\.server(\.[jt]sx?)?$/` files), since `args.resolveDir` comes from esbuild and reflects the real/original path, whereas `config.appDirectory` has the hacky path

This new problem can be hackily hacked around by hooking into the esbuild config [along these lines](https://github.com/remix-run/remix/issues/717#i

[2022-04-21 23:05] CanRau commented on #2570
Happened to me due to [Yoroi](https://addons.mozilla.org/en-US/firefox/addon/yoroi/)
And agree with @ostwilkens expecting user (and developers) to disable browser extensions is not a solution

@hrgui yea, though I love that Remix gives us the full control, maybe hydrating `document.head` & `document.body` instead might help? Well Yoroi is injecting before `<head>` not sure what others do, if they

[2022-04-22 02:25] gonghaibo opened #2958 "Remix dev asset server web socket error"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

1.npm i create-remix mydemo
2.remix dev
3.Modify or add files in routes
4.chrome error(Remix dev asset server web socket error:)

![image](https://user-images.githubusercontent.com/36252719/164583992-9aff78aa-373a-49b6-b45e-bcc9a61d2076.png)

### Expected Behavior

Automatically refresh the page to match the new route.
To fix

[2022-04-22 03:47] chaance commented on #2850
Hmm, not sure why off hand but you were using an old version of `@remix-run/dev` in that example, and upgrading it fixed the issue. https://stackblitz.com/edit/node-cw71zb?file=package.json

[2022-04-22 04:09] hrgui commented on #2570
@CanRau if we do hydrate document.body instead, we need to change how entry.server works, otherwise there will be a mismatch - because entry.server renders the entire document.

[2022-04-22 04:27] CanRau commented on #2570
Yeah I imagined it wouldn't be thaat simple, just a quick thought^^

[2022-04-22 05:27] morsmodr opened #2959 "Security vulnerability with @remix-run/dev 1.4.1"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

`npm i` in a remix project which has `^1.4.0` in package.json

Then run `npm audit`. Following results are shown

![Screen Shot 2022-04-21 at 10 15 06 PM](https://user-images.githubusercontent.com/7231256/164607899-dc7c423c-631a-42a8-9068-81ed3f4f2aeb.png)

### Expected Behavior

Resolve by upgrading to unset-value version 2.

[2022-04-22 06:01] gonghaibo commented on #1601
I don't want to chat here or anything. But I ran into this problem.
And I still don't know how to solve it.

So how to solve the macbook pro(m1) 11.6

[2022-04-22 07:38] jsierles commented on #1622
The suggested changes were added to `flyctl` in https://github.com/superfly/flyctl/pull/940. Thanks!

[2022-04-22 11:51] ZetraDev commented on #2950
After I searched for the template of remix in turborepo, i found that the local libraries need to build before remix import it, the issue is solved

[2022-04-22 11:51] #2950 closed

[2022-04-22 13:17] #1405 closed

[2022-04-22 13:17] #1621 closed

[2022-04-22 16:54] ergofriend opened #2962 "[Bug]: Failed pass FormData to URLSearchParams with Cloudflare Pages Functions"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

[code]
[code]

### Expected Behavior

If we post FormData `{like: "takenoko"}`, `console.log(data)` should output `like=takenoko`

### Actual Behavior

but, `console.log(data)` output empty string ` `
For more detail, please watch this issue https://github.com/SeasonedSoftware/remix-domains/issues/18

[2022-04-22 16:59] aaronksaunders commented on #806
@CrshOverride - were you able to get any additional information about this? Thanks

[2022-04-22 17:29] CrshOverride commented on #806
@aaronksaunders I wasn't. My naive attempts also didn't work at all. As soon as I added the Amplify UI components to my project, my bundle was too large to be deployed to Lambda.

[2022-04-22 17:32] aaronksaunders commented on #806
Hmm, ok.

I have googled around and there doesn’t seem to be a solution other than a
statement that it is being worked on and a link that doesn’t show the work.

I guess I will try the discord channel.

Thanks

On Fri, Apr 22, 2022 at 1:29 PM Justin Niessner ***@***.***>
wrote:

--

--

Aaron K. Saunders
CEO Clearly Innovative Inc
***@***.***
www.clearlyinnovative.com

This email message and any a

[2022-04-22 18:08] th317erd commented on #2714
I have another (possibly related issue) on Ubuntu 18.04. I selected "Javascript" instead of TS, which may be what the problem is here? I see the file `prisma/seed.js`, but the scripts are trying to find `prisma/seed.ts`... can anyone help?

[code]

[2022-04-22 18:28] ErikCH commented on #806
Hi @aaronksaunders , @CrshOverride !

We don't have any official documentation on using Amplify with Remix yet. When I tested it, it was working. My testing was just limited to using the `aws-amplify/ui-react` package Authenticator. I followed the steps in our[ official documentation](https://ui.docs.amplify.aws/components/authenticator) to create a new app. However, I didn't test every scenario,

[2022-04-22 18:44] michaeldebetaz commented on #599
Same here 👋

[2022-04-22 18:52] mcansh commented on #2714
that's not so much related, but we need to tweak our remix.init on the stacks to update some scripts to point to `prisma/seed.js` (and other js files) instead of `prisma/seed.ts`

[2022-04-22 19:00] th317erd opened #2963 "Remix with Javascript is entirely broken"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

Simply create a blank Remix app, using any template, and select "Javascript" instead of "Type Script" when you create the app.

### Expected Behavior

The blank app should work after it is created.

### Actual Behavior

The blank app most certainly doesn't work after it is created.

Node (17.9.0) still can natively use import

[2022-04-23 04:46] hrgui commented on #2570
With a non-remix app, I was able to get it to work after observing what next.js and hydrogen does in regards to streaming:

They both have a div element they are hydrating.

https://github.com/hrgui/nodejs-react-sc-demo/commit/ac872341d5e2c93d80c562a0f4056e2ae757c7da

1. The server renders the entire document with a `<div id="root"></div>` wrapping the react app.
2. The client only hydrates the th

[2022-04-23 09:40] molleweide commented on #1631
Hi!
No my apologies because I havent really delved into this so I dunno atm.
My specs were macbook with brave browser at the time of creating the issue. I haven't gotten any time to check out remix since then.

[2022-04-23 10:58] Exilz commented on #1361
@hannadrehman Using your `serve.js` file was the only way I could fix my `Cannot find module './env'` error.
Related #1128

[2022-04-23 16:07] 39digits opened #2967 "Create Remix jsconfig.json still contains references to include remix.env.d.ts, ts, and tsx"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

1. Run `npx create-remix@latest`
2. Name the project anything you wish.
3. Select "Just the basics"
4. Use "Remix App Server"
5. Yes for npm install
6. Select "JavaScript" as your preferred language
7. Open the generated `jsconfig.json`

### Expected Behavior

Contents of the `jsconfig.json` file should not contain references

[2022-04-23 17:36] molleweide commented on #1631
allright, so I just tested this on brave again on my macbook air and it seems surfingkeys which I use now does not recognize any links on the site `https://remix.run/docs/en/v1` so the issue persists but another app I am using called Vimac does work. However, I am not sure what links vimac picks up sometimes because it is more intended for the mac OS and not the browser.

vimac fyi : https://githu

[2022-04-23 17:37] molleweide commented on #1631
allright, so I just tested this on brave again on my macbook air and it seems surfingkeys which I use now does not recognize any links on the site `https://remix.run/docs/en/v1` so the issue persists but another app I am using called Vimac does work. However, I am not sure what links vimac picks up sometimes because it is more intended for the mac OS and not the browser.

vimac fyi : https://githu

[2022-04-23 22:16] 3x071c commented on #2813
Cloudflare runs on V8 natively, without the additional Node.js abstraction. This means certain APIs, such as Buffer, aren't available for your dependencies to use in Cloudflare Workers/Pages. Try [this](https://github.com/aiji42/remix-esbuild-override), it allows you to override Remix's esbuild configuration to inject/alias polyfills. [Here's an example](https://github.com/3x071c/remix-cf-buffer)

[2022-04-23 23:31] konsumer commented on #2813
Yep, I'm aware. The way I generally solve this, in non-remix worker projects (I have quite a few) is to polyfill it in my esbuild (or whatever bundler I'm using) config, as I said above.

I was originally using remix-esbuild-override but it stopped working in my project (as I mentioned above.)

I made this issue because I was told in discord that custom esbuild config would not be supported, but w

[2022-04-24 00:16] DAlperin commented on #2570
@rphlmr I think this issue should be reopened. I deployed my first production remix app and have gotten consistent reports from users who have any extension that mutated the DOM (many many of them) I'm going to revert to react 17 tomorrow, but this issue should be considered 'breaking'.

If you'd prefer, I can open another issue.

[2022-04-24 10:26] machour commented on #2570
@DAlperin you can comment on this new issue: https://github.com/remix-run/remix/issues/2947
Clearly, asking users to disable their extension can't be the solution.

[2022-04-24 11:36] sketchbuch opened #2970 "npx create-remix@latest errors: filePath.replaceAll is not a function"
### What version of Remix are you using?

Latest

### Steps to Reproduce

Run npx create-remix@latest

Node: v14.15.4
Ubuntu Linux: 20.04

![image](https://user-images.githubusercontent.com/16445037/164974521-526603ca-de58-4bf8-806c-f102b8c20277.png)

### Expected Behavior

npx create-remix@latest

### Actual Behavior

Expected the app to be created

[2022-04-24 12:12] sketchbuch commented on #2970
Was wrong npm version

[2022-04-24 12:12] #2970 closed

[2022-04-24 14:56] DAlperin commented on #2947
I deployed my first production remix app and have gotten consistent reports from users who have any extension that mutated the DOM (many many of them) I reverted to react 17, but this issue should be considered 'breaking'.

We should probably retitle this issue to reflect that it's not just dark reader, but any extension that injects script tags or mutates the DOM.

[2022-04-24 20:00] corgipower commented on #1077
I'm getting this as well, on remix 1.4.1.
For me, it's coming from a disable autoplay extension, but I don't get this warning in apps built with other frameworks.

[2022-04-24 23:46] ksavblik commented on #2947
Having the same issue, and agree with @DAlperin for renaming this one
So the real problem is not the mismatch itself, but in the unrecoverable error from new hydrateRoot(in React 17 hydrate just warns about the mismatch)
This is actually relevant for other frameworks as well, not only remix
react issues: [#22833](https://github.com/facebook/react/issues/22833), [#24430](https://github.com/facebook

[2022-04-25 03:46] hrgui commented on #2947
Changed the title to reflect the true issue.  This also applies for this tweet https://twitter.com/ebey_jacob/status/1509666902477402135

react issues: https://github.com/facebook/react/issues/22833, https://github.com/facebook/react/issues/24430

In my non-remix app, I had to do this fix: https://github.com/hrgui/nodejs-react-sc-demo/commit/ac872341d5e2c93d80c562a0f4056e2ae757c7da.

- The server

[2022-04-25 15:44] DAlperin commented on #2947
The RemixBrowser API needs a new surface for this use case, I think. I can take a crack at a PR this week if I have time. It would be nice to hear from the core team on how they would like to approach this before I try anything though.

Cc: @mjackson @ryanflorence

[2022-04-25 15:46] DAlperin commented on #2947
Though, on second thought not being able to hydrate the <head> content would break a lot of things. So I'm not sure that this is the right tradeoff.

[2022-04-25 15:48] RATIU5 commented on #1601
This issue still occurs on Windows with Remix 1.4.1. Creating or deleting files outside of `app/routes` works fine and live reload does not fail. Creating or deleting any type of file inside the `routes` folder reloads once then refuses to reload upon any further changes.

[2022-04-25 18:54] LukasCornille commented on #2958
Hey, I had the same issue.

Deleting my package-lock & node_modules however, fixed the issue for me. Hope this is the case for you as well!

[2022-04-25 20:06] rodrigofuentes opened #2978 "action formData not working as expected with modals."
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

Build a multi-form route but with each form rendered in a modal pop-up.
Reproduction: https://stackblitz.com/edit/github-fn9naa?file=app%2Froutes%2Finvitations.tsx

The work around is to pass an hidden `input` that holds the value and name of the `button`.
Workaround: https://stackblitz.com/edit/github-fn9naa-shsnbv?file=app%

[2022-04-25 21:17] jacob-ebey commented on #2570
Cross linking this https://github.com/facebook/react/issues/22833

[2022-04-25 21:18] jacob-ebey commented on #2947
Cross linking this: https://github.com/facebook/react/issues/22833

[2022-04-25 21:38] rphlmr commented on #2570
Sorry I'm unable to do that :/ (no reopen option)

[2022-04-26 01:54] sdalonzo commented on #2930
I encountered a similar problem, and the downgrade to v1.3.4 as suggested here was the only fix that worked.

While using v1.4.1, here's what I observed:
- Our monorepo fails builds with warnings by design, so I set up `serverDependenciesToBundle` to get my builds passing
  - For our project, this is `@apollo` dependencies
- The project built successfully locally, in CI, and in the job that produc

[2022-04-26 04:25] mglikesbikes opened #2980 "[Workers Pages] throw on missing node util.types.isKeyObject()"
### What version of Remix are you using?

`latest`

### Steps to Reproduce

1. Set up a remix project based on Cloudflare Pages
2. Observe that Remix is set up to transpile to `./functions/[[path]].js` and uses `wrangler@beta` under the hood to deploy to Cloudflare
3. `npm i stytch` - install the Stytch node SDK which uses `node-jose` under the hood
4. `import * as stytch from 'stytch'` - add to t

[2022-04-26 05:44] gonghaibo commented on #2958
#1601
Thanks, but your workaround didn't work for me. I found a similar question.

[2022-04-26 11:32] npirotte opened #2983 "Dev mode is not re building / reloading in monorepo context (nx)"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

* Create a monorepo with NX (I assume it's the same with turbo repo)
* Create a remix application
* Create a library
* Import something from the library into the application
* Start the application in dev mode
* Save some change in the library file.

Alternative that might go quicker:
* Fork https://github.com/npirotte/hello-

[2022-04-26 11:39] npirotte commented on #2983
After more testing, I understand that remix listen to events on the `appDirectory`, while my expectation are that it listen to `appDirectory` + dependencies changes (in monorepo context, most of the files will be out of appDirectory).

[2022-04-26 11:57] npirotte commented on #2983
As an easy and simple solution, I can propose to add an optional configuration in the remix config:

[code]

This would the be merge to the current list of watched directories:

[code]

[2022-04-26 12:27] npirotte commented on #2983
Already created an example implementation here: https://github.com/remix-run/remix/pull/2984

[2022-04-26 14:47] derpoho opened #2987 "Identifier 'React' has already been declared with multiple external libraries"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

More Details:
React Version: 18
Yarn

- Install remix for cloudflare pages setup
- Add libraries like (react-spring, framer-motion, react-hook/mouse-postion)
- Use them (simple import is enough)

### Expected Behavior

Application/Website loads correctly when running `wrangler pages dev ./public` and `remix watch`

### Actual

[2022-04-26 14:48] RATIU5 commented on #2714
This version is now working for me on WSL in the Linux sub-system directory and on mounted device directories.

[2022-04-26 16:15] kiliman commented on #2987
I've had this issue as well. I believe it's an issue with `esbuild` bundler. If you minify the code, it seems to work.

https://github.com/evanw/esbuild/issues/475#issuecomment-946760991

[2022-04-26 18:30] udasitharani opened #2991 "Fails To Create Remix App"
### What version of Remix are you using?

create-remix@latest

### Steps to Reproduce

1. Run `npx create-remix@latest`.
2. Enter a directory name, in my case - `web` or `./web` both fail.
3. Select `Just the basics`.
4. Select any option. In my case - `Remix App Server` (tried express too, to no avail).
5. Enter yes or no to run npm install, doesn't matter.

### Expected Behavior

It should creat

[2022-04-26 18:48] udasitharani commented on #2991
Using `create-remix@1.4.0` didn't cause this issue though.
Must be something with `1.4.1`

[2022-04-26 19:12] kiliman commented on #2991
`string.replaceAll` is only available in Node v15+. They have fixed it so you can still use Node v14. It'll be in the next release.

https://github.com/remix-run/remix/issues/2868

[2022-04-26 22:40] cabello opened #2993 "useTransition, isCreating does not work in Safari"
### What version of Remix are you using?

1.4.1

### Other software version

Safari: v15.4

<img width="396" alt="Screen Shot 2022-05-02 at 11 19 57 AM" src="https://user-images.githubusercontent.com/60936/166260044-1054c0ec-8a87-4d88-b9c1-d0ac11b28b0a.png">

macOS Monterey v12.3.1

### Steps to Reproduce

Follow the tutorial and complete the Progressive Enhancement step: https://remix.run/docs/en

[2022-04-27 03:52] frago12 commented on #2836
I found this same issue using npm workspaces

[2022-04-27 04:31] alexkuz commented on #1032
@Vashiru yeah, the issue with that example is that if <head> gets re-rendered on client, you lose the styles rendered on server. I had to make this component to make sure styles from the server are not lost:
[code]

[2022-04-27 04:40] th-m opened #2995 "firebase-admin package cannot be used in remix app"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

- npx create-remix@latest
- just the basics
- netlify set up
- npm install - yes
- typescript
- cd into project
- npm i firebase-admin
- import * as admin from "firebase-admin";
-
[code]

### Expected Behavior

including firebase-admin should allow me to use the firebase-admin library.

### Actual Behavior

A sub package of f

[2022-04-27 05:27] gitn00b1337 opened #2996 "Unable to host remix at a subpath / subfolder"
### What version of Remix are you using?

latest

### Steps to Reproduce

I want to host my remix app under a subfolder, i.e. mydomain.com/remixapp.

Using the blues server.ts as an example, express routing is configured with:

[code]
But following the request handler, it matches routes using this function:

https://github.com/remix-run/remix/blob/c34f6af4bb7d9ef590e5e46ac08281de50ef5404/packages/

[2022-04-27 12:11] liegeandlief opened #2997 "Unexpected behaviour when redirecting in action"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

Create a Remix project (with the built in Remix server) with the following routes:

index.tsx:
[code]

magic-link.tsx:
[code]

verify-magic-link.tsx:
[code]

In the `entry.server.tsx` `handleRequest` function put the following just before returning the response:

[code]

In the `entry.server.tsx` `handleDataRequest` function

[2022-04-27 12:24] Kilian opened #2998 "create-remix with indie stack template breaks when choosing JavaScript because prisma/seed.ts is now prisma/seed.js"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

Follow the blog tutorial: https://remix.run/docs/en/v1/tutorials/blog and choose for JavaScript instead of TypeScript (using Node 14, though I don't know if that's relevant here)

The issue seems to be mentioned here as well: https://github.com/remix-run/remix/issues/2714#issuecomment-1106774296

### Expected Behavior

The se

[2022-04-27 12:38] MichaelDeBoey commented on #2998
Duplicate of #2781

[2022-04-27 12:38] #2998 closed

[2022-04-27 13:16] amanolar94 commented on #1601
This is the only solution that worked for me

[2022-04-27 13:27] kiliman commented on #2996
You can try `remix-mount-routes` to set the basePath. You will probably want to change the
`publicPath` and `assetsBuildDirectory` as well.

[code]
https://github.com/kiliman/remix-mount-routes

[2022-04-27 13:39] gitn00b1337 commented on #2996
Ah perfect, I had no idea this existed. Thanks!

[2022-04-27 13:39] #2996 closed

[2022-04-27 14:23] liegeandlief commented on #2997
Okay that makes sense but in that case it seems to be bypassing `handleDataRequest` when returning the `204` response. In `handleDataRequest` I make some changes to the response by adding extra headers and I need these headers to be returned. But these headers don't get added to the `204` response.

If Remix needs to amend the response status should it not do it after `handleDataRequest` has compl

[2022-04-27 14:33] codeser opened #3000 "Suggestion: Default installation should point to "Just the Basics" by default"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

Run npx create-remix@latest

### Expected Behavior

You are asked, "What type of app do you want to create?"
The default one that is selected is the more advanced option.

It might be better for beginners to remix if the default option was "Just the Basics"

### Actual Behavior

My suggestion is for the question "What type of

[2022-04-27 14:54] kiliman commented on #2997
`handleRequest` and `handleDataRequest` are the last things that happen before returning to the client. Remix has already done its processing by then. These are not *pre* request handlers... but *post* Remix handlers.

[2022-04-27 17:03] hakimLyon opened #3002 "createFileUploadHandler return in action "lastModified: 0""
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

[code]

### Expected Behavior

[code]

### Actual Behavior

[code]

[2022-04-27 18:24] nickytonline opened #3003 "TypeError: Body is unusable when using Remix(experimental-netlify-edge) Actions"
### What version of Remix are you using?

0.0.0-experimental-fd9fa7f4

### Steps to Reproduce

1. Use Node 16.x or 18.x, the result is the same.
2. Ensure that you have the [Netlify CLI installed](https://docs.netlify.com/cli/get-started/).
3. Run `npx create-remix --template https://github.com/netlify/remix-edge-template`. Use the default answers when the Remix CLI asks you questions. Note: You c

[2022-04-27 18:31] nickytonline commented on #3003
As discussed on Discord, the reason `TypeError: Body is unusable.` is thrown is because the request is consumed before it's cloned and accessed again. This only occurs with Netlify Edge functions because they are streaming requests is unlike regular Netlify functions where the issue does not occur.

It's still unclear to me why this is only happening with Netlify Edge functions. Maybe the [Readabl

[2022-04-28 00:20] ZetraDev commented on #2774
somehow it not using all cpu resources now, so i think the problem is solved

[2022-04-28 00:20] #2774 closed

[2022-04-28 04:17] frago12 commented on #2836
I upgraded Remix to `1.4.3`, and the issue was fixed for me. I just had to add this to my `remix.config.js` https://remix.run/docs/en/v1/pages/gotchas#importing-esm-packages

[2022-04-28 04:41] altano opened #3007 "Documentation mentioning `{runtime}` is confusing"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce

A lot of the recommendation uses `@remix-run/{runtime}` which I think is pretty confusing, e.g. https://remix.run/docs/en/v1/api/remix#json has this code:

[code]

It looks like this should be `import { json } from "@remix-run/node";` if your runtime is node but this was not at all immediately clear to me.

### Expected Behav

[2022-04-28 11:25] ivosabev commented on #2826
I've narrowed it down to having a folder `app/graphql` and in one of my route files I am doing

[code]

and the `remix@1.4.0` after the removal of the postinstall script is treating it as a duplication somehow.

[2022-04-28 12:11] ivosabev opened #3010 "Remix disregards tsconfig extend clause"
### What version of Remix are you using?

1.4.3

### Steps to Reproduce

I have `tsconfig.json` in the root of my project that extends`scripts/shared-tsconfig.json`.

## tsconfig.json
[code]

## scripts/shared-tsconfig.json
[code]

### Expected Behavior

Do not add anything to my root `tsconfig.json`

### Actual Behavior

When I run remix, it adds a bunch of compiler options to my root `tsconfig.j

[2022-04-28 12:52] achinchen commented on #3007
I've the same feelings at first glance!

[2022-04-28 13:53] mcansh commented on #3010
sorry! have a pr for this #2961

[2022-04-28 14:15] achinchen opened #3011 "Example: graphql-api is missing required dependency "graphql" in package.json"
### What version of Remix are you using?

1.4.2

### Steps to Reproduce

1. Clone the remix repo and cd to `examples/graphql-api`.
2. Run `yarn` to  install all dependencies.
3. Run `yarn dev` and I got error message from console which is `Error: Cannot find module 'graphql'`.

### Expected Behavior
`graphql` should be included in `package.json` to prevent the module missing.

### Actual Behavior

[2022-04-28 14:52] kiliman commented on #3007
Yes, I'm sure the team will work on cleaning up the documentation. This was a big change in philosophy (although not a breaking change, since the old way still works).

Docs should be something like:
[code]

Perhaps a future version of the docs will give you a selector:

- Language: TypeScript
- Framework: React
- Platform: Node

Then it'll automatically present the docs accordingly.

[2022-04-28 14:53] mcansh commented on #3010
👍 no problem, wanted to add tests before merging it and by doing that i missed our release window haha, once it gets merged, you'll get a notification here to try out a nightly release later that night :)

[2022-04-28 17:33] afk-mario opened #3015 "SVG Icon causing `Uncaught Error: Cannot initialize 'routeModules'.`"
### What version of Remix are you using?

1.4.3

### Steps to Reproduce

Can't reproduce on a clean install but happens whenever I use a [ReactIcon](https://react-icons.github.io/react-icons/) component, nothing else changes in the application.

### Expected Behavior

To render the application without server code

### Actual Behavior

The app crashes

[2022-04-28 21:42] grundius commented on #2995
Just tried this with Netlify deployment, I get the same issue (used the default app, so just `admin.initializeApp()` without options). I run into the same error. I _do not_ get this error when running the Remix Server or with a Fly.io targeted deployment.

This phrase:
[code]
and the a quick look on the Netlify forums (a sample: https://answers.netlify.com/t/firebase-admin-sdk-with-netlify-server-

[2022-04-29 09:50] binajmen opened #3023 "Can't use react-dnd ESM library: ERR_REQUIRE_ESM"
### What version of Remix are you using?

1.4.1 – Blues stack

### Steps to Reproduce

[code]

### Expected Behavior

No errors

### Actual Behavior

I recently migrated my remix project to the blues stack (1.4.1). I'm using react-dnd in my project. When I executed `npm run dev`, I got the following warnings + error:
[code]

I followed the warnings advice, adding stuff to `serverDependenciesToBund

[2022-04-29 12:00] hakimLyon opened #3024 "Remix App stop when the upload file exceeds max file size"
### What version of Remix are you using?

1.4.1

### Steps to Reproduce ```yarn build && yarn start```

[code]

### Expected Behavior

The app should still keep ```running ```

### Actual Behavior

[code]

[2022-04-29 12:48] cairin commented on #2995
The firebase admin SDK requires node, which isn't present in the browser. The [Module constraints](https://remix.run/docs/en/v1/guides/constraints) docs go into more detail.

But basically you need to ensure you're not trying to use the admin SDK client side. The easiest way to do this is to use the `.server.ts` file extenstion.

For example, you have the following folder structure:
[code]